@charset "UTF-8";

@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Thin"),
       local("Noto Sans KR Thin"),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Thin-Hestia.eot) format('embedded-opentype'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Thin-Hestia.woff) format('woff'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Thin-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Light"),
       local("Noto Sans KR Light"),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Light-Hestia.eot) format('embedded-opentype'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Light-Hestia.woff) format('woff'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Light-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Regular"),
       local("Noto Sans KR Regular"),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Regular-Hestia.eot) format('embedded-opentype'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Regular-Hestia.woff) format('woff'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Regular-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Medium"),
       local("Noto Sans KR Regular"),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Medium-Hestia.eot) format('embedded-opentype'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Medium-Hestia.woff) format('woff'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Medium-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Bold"),
       local("Noto Sans KR Medium"),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Bold-Hestia.eot) format('embedded-opentype'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Bold-Hestia.woff) format('woff'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Bold-Hestia.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans Korean";
  src: local("Noto Sans CJK KR Black"),
       local("Noto Sans KR Medium"),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-black.eot) format('embedded-opentype'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-black.woff) format('woff'),
       url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-black.otf) format('opentype');
  font-style: normal;
  font-weight: 800;
}

/* 중국어 간체 100, 300, 400, 500, 700, 900 */
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

/* 일본어 100, 200, 300, 400, 500, 700, 900 */
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
  

*                       {vertical-align:top;margin:0;padding:0;outline:none!important;}
html                    {color:#000;font-size:13px;font-weight:400;font-family:"Noto Sans Korean", sans-serif;-webkit-text-size-adjust:none;line-height:1; word-break: break-all;}
img,fieldset            {border:0;}
a                       {text-decoration:none;color:inherit;cursor:pointer;display:inline-block;line-height:100%;}
ul,ol,li                {list-style-type:none;}
input,select            {appearance:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;border-radius:0;}
select::-ms-expand      {display:none;}
address                 {font-style:normal;}
button,input            {overflow:visible;}
button,select           {text-transform:none;}
[type="checkbox"],
[type="radio"]          {box-sizing:border-box;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none;-moz-appearance:textfield;}
[type="search"]                            {-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
::-webkit-file-upload-button               {-webkit-appearance:button;font:inherit;}
table                   {width:100%;border-collapse:collapse;border-spacing:0;word-break:break-all;table-layout:fixed;}
h1,h2,h3,h4,h5,h6       {font-size:inherit;font-weight:inherit;}
button                  {background-color:transparent;border:0;font-size:inherit;cursor:pointer;}
strong                  {font-weight:400;}
button, input, select, textarea {font-family:"Noto Sans Korean", sans-serif; font-weight: 400; font-size: 13px;}
button, select, textarea{line-height: inherit;}
::placeholder           { color: #bbb; opacity: 1; }
:-ms-input-placeholder  { color: #bbb; }
::-ms-input-placeholder { color: #bbb; }
textarea                { resize: none; line-height: 1.4; border-radius: 0; -webkit-box-shadow: none; -webkit-appearance:none; }
img[src=""]             { display: none; }
em                      { font-style: normal; }
select                  { background-color: #fff; }

.hidden                 {display:none!important;}

.visuallyhidden         {border:0;clip:rect(0000);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;width:1px;white-space:nowrap;margin:-1px;padding:0;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip:auto;-webkit-clip-path:none;clip-path:none;height:auto;overflow:visible;position:static;width:auto;white-space:inherit;margin:0;}

.clearfix:before        {content:" ";display:table;}
.clearfix:after         {content:" ";display:table;clear:both;}

.left                   {float:left;}
.right                  {float:right;}

.t-left                 {text-align:left;}
.t-center               {text-align:center;}
.t-right                {text-align:right;}

.ellipsis				{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.ellipsis_multiple,
.ellipsis_label   		{ overflow:hidden; }


/* ================================    CHINESE     ====================================== */
.lang_cn * {font-family: 'Noto Sans SC', "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;}


/* ================================    JAPANESE     ====================================== */
.lang_jp * {font-family: 'Noto Sans Japanese', “ヒラギノ角ゴ Pro W3”, “Hiragino Kaku Gothic Pro”, Osaka, “メイリオ”, Meiryo, “ＭＳ Ｐゴシック”, “MS PGothic”, sans-serif;}




hr					{ display:block; width:100%; border:0; border-top:1px solid #e5e5e5; background:#f2f2f2; }
hr.h9				{ height:9px; }
hr.h18				{ height:18px; }