@charset "utf-8";

/* 코인뉴스, 코인톡톡, 수익인증 > 상세 > title영역 */
.articleViewHeader                        { position:relative; padding: 22px 20px 10px; border-bottom: 1px solid #f0f0f0; }
.articleViewHeader .title                 { margin-bottom: 12px; font-size: 20px; font-weight: 500; line-height: 1.3; }

.articleViewHeader .info                  { font-weight: 300; color: #888; }
.articleViewHeader .time                  { margin-left: 6px; }
.articleViewHeader .time:before           { content: ''; margin-right: 7px; display: inline-block; width: 1px; height: 12px; background-color: #eaeaea; vertical-align:  -1px;}
.articleViewHeader .views                 { margin-left: 15px; color: #1eb1c7; }

.articleViewHeader .info2                 { margin-top: 18px; line-height: 27px; }
.articleViewHeader .info2:after           { content: ''; display: block; clear: both; }

.articleViewHeader .newsLabel             { margin-right: 9px; padding: 0 8px; height: 20px; line-height: 20px; border-radius: 20px; font-size: 12px; font-weight: 400; }
.articleViewHeader.plus .newsLabel        {background-color: #eb1c74; color: #fff;}
.articleViewHeader.minus .newsLabel       {background-color: #1c7deb; color: #fff;}

/* 공지사항 상세보기 */
.articleViewHeader.typeSimple             { padding-bottom: 20px; }
.articleViewHeader.typeSimple .time       { margin-left: 0; }
.articleViewHeader.typeSimple .time::before { display: none; }
.articleViewHeader.typeSimple .title      { margin-bottom: 8px; }
.articleViewHeader.typeSimple .info2      { float: right; margin-top: 0; }
.articleViewHeader.typeSimple .articleExtraFnWrap { margin-top: -19px; }

.btnExtra                                 { margin-right: -15px; padding: 5px 15px; line-height: 1; }
.btnExtra::after                          { content: ''; display: inline-block; width: 4px; height: 17px; background: url(/chatbit_m/img/svg/more.svg) no-repeat; background-size: 4px; }

.articleExtraFnWrap                       { z-index: 1; position: relative; float: right; }
.articleExtraFn                           { display: none; position: absolute; top: 24px; right: 0; min-width: 84px; border: 1px solid #888; background-color: #fff; }
.extraFnList > li                         { position: relative; padding-right: 10px; height: 32px; border-bottom: 1px solid #f0f0f0; line-height: 32px; white-space: nowrap; }
.extraFnList > li:last-child              { border-bottom: 0; }
.extraFnList button                       { color: #888; }
.extraFnItem                              { padding-left: 35px; width: 100%; text-align: left; }
.extraFnItem [class^=icon]                { position: absolute; top: 8px; left: 13px;  }
.extraFnItem .iconShare                   { top: 10px; }
.extraFnItem .iconBookmark                { left: 15px; }

.active + .articleExtraFn                 { display: block; }

/* 글씨 확대 축소 */
ul.extraFnList                            { margin-bottom: 0; }
.extraFnList > li.fontResize              { padding-left: 0; padding-right: 0; text-align: center; border-color: #888; color: #666; font-size: 14px; }
.fontResize .btnZoomin                    { position: absolute; top: 0; right: 0; }
.fontResize .btnZoomout                   { position: absolute; top: 0; left: 0; }
.btnZoomin,
.btnZoomout                               { padding: 9px 11px; line-height: 1; }
.btnZoomin:after                          { content: ''; display: inline-block; width: 15px; height: 15px; background: url(/chatbit_m/img/svg/plus.svg) no-repeat; }
.btnZoomout:after                         { content: ''; display: inline-block; width: 15px; height: 15px; background: url(/chatbit_m/img/svg/minus.svg) no-repeat; }

.btnExtra.active + .articleExtraFn        { display: block; }

/* 게시판 상세 > 본문 */
.articleViewContents *                    { vertical-align: baseline; }
.articleViewContents                      { overflow: hidden; padding: 25px 20px 30px; line-height: 1.55; font-size: 15px; }
.articleViewContents img                  { margin: 22px -20px; max-width: calc(100% + 40px); }
.articleImgWrap                           { text-align: center; }
.articleViewContents p                    { margin: 22px 0; }
.articleViewContents p:first-child        { margin-top: 0; }
.articleViewContents p:last-child         { margin-bottom: 0; }

.articleViewButtons                       { position: relative; margin: 0 20px; text-align: right; }
.articleViewButtons .iconLike             { position: absolute; top: 0; left: 0; }

/* 댓글 > 제목 */
.commentHeader                            {overflow: hidden; margin: 19px 0 15px; padding: 19px 20px 0; border-top: 1px solid #e5e5e5; font-size: 14px;}
.commentHeader .title                     {display: inline;}
.commentHeader .length                    {display: inline; margin-left: 5px; color: #eb1c74;}
.commentHeader .btnRefresh                {float: right; margin-top: -4px; transition: transform 0.3s; transform: rotate(0);}
.commentHeader .btnRefresh:focus,
.commentHeader .btnRefresh:hover          {transform: rotate(360deg);}

/* 댓글 > 등록 */
.commentRegister                          {padding: 0 20px;}
.commentRegister textarea                 {box-sizing: border-box; width: 100%; height: 152px; padding: 15px; border: 0; border-bottom: 1px solid #f0f0f0; line-height: 1.4;}
.commentRegister .length                  {margin-left: 15px; line-height: 35px; font-size: 12px; color: #888; font-weight: 300;}
.commentRegister .register                {float: right; padding: 0 18px; height: 35px; background-color: #555; color: #fff;}
.commentRegister .beforeLogin             {padding: 14px 18px; border: 1px solid #e5e5e5; color: #bbb;}

.commentRegister .afterLogin fieldset     {border: 1px solid #555;}
.commentRegister .afterLogin fieldset::after {content: ''; display: block; clear: both;}

/* 댓글 > 등록 > 로그인, 로그아웃 */
.commentRegister .afterLogin,
.commentRegister.login .beforeLogin       {display: none;}
.commentRegister.login .afterLogin        {display: block;}

/* 댓글 > 목록 */
.commentList > li                         {border-top: 1px solid #f0f0f0; padding: 20px;}
.commentList > li:first-child             {border-top: 0;}
.commentItem                              {position: relative;}
.commentItem + .commentItem               {margin-top: 30px;}
.commentItem .avatarWrap                  {float: left; margin-right: 10px;}
.commentItem .avatar                      {overflow: hidden; display: block; width: 35px; height: 35px; border-radius: 50%; background: #e3e3e3 url(/chatbit_m/img/svg/pic_none.svg) no-repeat;}
.commentItem .avatar img                  {width: 100%; height: 100%; object-fit: cover;}
.commentItem .info                        {font-size: 12px; line-height: 1.5;}
.commentItem .name                        {display: block; color: #222; }
.commentItem .time                        {display: block; color: #888; font-weight: 300;}

.commentItem .text                        {clear: left; box-sizing: border-box; padding: 8px 0; line-height: 1.47; color: #888;}
.commentItem textarea                     {box-sizing: border-box; padding: 7px 10px; width: 100%; height: 125px; border: 0; background-color: #f8f8f8; color: #555;}
.commentItem .text .length                {position: absolute; bottom: 9px; left: 0; font-size: 12px; font-weight: 300;}

.commentItem .buttons                     {text-align: right;}

/* 댓글 > 수정하기 전 상태 */
.commentItem .text textarea,
.commentItem .text .length,
.commentItem .buttons                     {display: none;}

/* 댓글 > 수정 상태 */
.commentItem.editable .text textarea,
.commentItem.editable .text .length,
.commentItem.editable .buttons            {display: block;}
.commentItem.editable .text .textValue,
.commentItem.editable .commentAction      {display: none;}

/* 댓글 > 수정,삭제,신고 */
.commentAction                            { position: absolute; top: 0; right: 0; display: inline-block; }
.commentActionBtn                         { margin-right: -15px; padding: 5px 15px; line-height: 1;}
.commentActionBtn::after                  { content: ''; display: inline-block; width: 3px; height: 15px; background: url(/chatbit_m/img/svg/re_more.svg) no-repeat; }
.commentActionLayer                       { z-index: 2; position: relative; display: none; }
.commentActionList                        { position: absolute; top: 0; right: 0; width: 50px; border: 1px solid #888; text-align: center; background-color: #fff; }
.commentActionList button                 { width: 100%; height: 32px; color: #555; font-size: 12px; }
.commentActionList li:not(:first-child)   { border-top: 1px solid #f0f0f0; }

.active + .commentActionLayer             {display: block;}

/* 상세보기 페이징 */
.viewPaging                               {display: block; padding: 0 20px; height: 44px; border-top: 1px solid #f0f0f0;}
.viewPaging > p                           {display: flex; align-items: center; height: 100%;}
.viewPaging .title                        {display: inline-block; color: #222;}
.viewPaging .direction                    {flex: none; margin-right: 13px; color: #888;}
.viewPaging .direction::before            {content: ''; display: inline-block; margin-right: 6px; width: 12px; height: 6px; background: url(/chatbit_m/img/svg/arr_ver1.svg) no-repeat; vertical-align: 2px;}
.viewPagingWrap .viewPaging:first-child   {border-top: 1px solid #e7e7e7;}
.viewPagingWrap .viewPaging:first-child .direction::before {transform: rotate(180deg);}
.viewPaging:hover                         {text-decoration: none;}
.viewPaging:hover .title                  {color: #07a1b8; text-decoration: underline;}

/* 링크가 없을 때(이전 글이 없습니다.) */
.viewPaging[href="#"] .title              {color: #888;}
.viewPaging.disabled                      {pointer-events: none;}
.viewPaging.disabled .title               {color: #bbb; text-decoration: none; }

/* label 수익 */
.viewPaging .title.plus .newsLabel        {margin-right: 5px; background-color: #eb1c74; color: #fff; vertical-align: 0;}

/* label 손실 */
.viewPaging .title.minus .newsLabel       {margin-right: 5px; background-color: #1c7deb; color: #fff; vertical-align: 0;}

/* SNS 공유하기 레이어 */
.bubbleSns			                      {z-index: 110; position: fixed; top:50%; left: 0; display: none; box-sizing: border-box; margin: -110px 33px 0; padding: 18px 15px 20px; width: calc(100% - 66px); max-width: 400px; background: #fff;}

.bubbleSnsTitle                           {font-size: 16px; font-weight: 500; color: #000;}

.bubbleSnsLinks                           {display: flex; justify-content: space-around; margin-top: 30px;}
.bubbleSnsLinks .snsItem                  {width: 42px; font-size: 11px; color: #555; text-align: center; word-wrap: break-word; line-height: 1.1;}
.bubbleSnsLinks .snsItem::before          {content: ''; overflow: hidden; display: inline-block; margin-bottom: 7px; width: 37px; height: 37px; border-radius: 50%; background: #3b5999 url(/chatbit_m/img/svg/sns_f.svg) no-repeat 50% 50%; background-size: 10px; text-align: center; line-height: 37px; }
.bubbleSnsLinks .snsItem.twitter::before  {background-color: #55acef; background-image: url(/chatbit_m/img/svg/sns_t.svg); background-size: 17px;}
.bubbleSnsLinks .snsItem.naver::before    {background-color: #00c73c; background-image: url(/chatbit_m/img/svg/sns_n.svg); background-size: 15px;}
.bubbleSnsLinks .snsItem.story::before    {background-color: #fec601; background-image: url(/chatbit_m/img/svg/sns_ks.svg); background-size: 10px;}

/* SNS 공유하기 레이어 > url 복사하기 */
.urlCopyField                             {margin-top: 28px;}
.urlCopyField dd                          {height: 34px; border: 1px solid #ddd;}
.urlCopyField .urlValue                   {float: left; box-sizing: border-box; padding-left: 10px; width: calc(100% - 63px); font-size: 12px; font-weight: 300; background-color: #f8f8f8; color: #0078ff; border: 0; line-height: 34px;}
.urlCopyField .urlCopyBtn                 {float: right; width: 63px; height: 34px; border-left: 1px solid #e5e5e5; color: #222;}

/* 공지사항, 문의하기 > 목록 */
.noticeList > li:not(:first-child),
.questionList > li                        { border-top: 1px solid #f0f0f0; }
.noticeItem                               { display: block; padding: 20px 15px; }
.noticeItemTitle,
.questionItemTitle                        { margin-bottom: 8px; max-height: 39px; font-size: 16px; font-weight: 500; line-height: 1.2; }
.noticeItemTime,
.questionItemTime                         { color: #888; font-size: 12px; font-weight: 300; }

/* 문의하기 > 목록 */
.questionItem                             { display: flex; justify-content: space-between; align-items: center; }
.questionItemHeader                       { width: calc(100% - 121px); padding: 20px 15px; border-right: 1px solid #f0f0f0; }
.questionItemResult                       { width: 90px; text-align: center; }

.questionNotice                           { padding: 20px 15px; line-height: 1.4; }
.questionNotice strong                    { color: #1eb1c7; }
.questionNotice .cBtn2                    { margin-top: 13px; min-width: 110px; }
.questionNotice .colorPrimary             { vertical-align: baseline; }

.questionList .wait .questionItemResult   { color: #eb1c74; }                       
.questionList .done .questionItemResult   { color: #1eb1c7; }

/* 문의하기 > 상세 */
.qnaMyQ,
.qnaMyA                                   { position: relative; padding-top: 2px; padding-left: 42px; min-height: 25px; background-repeat: no-repeat; background-position: 0 0; background-size: 27px; }
.qnaMyQ::before                           { content: 'Q'; background-color: #1eb1c7; }
.qnaMyA::before                           { content: 'A'; background-color: #eb1c74; }
.qnaMyQ::before,
.qnaMyA::before                           { position: absolute; top: 0; left: 0; display: inline-block; width: 27px; height: 27px; border-radius: 50%; font-size: 16px; font-weight: 500; color: #fff; text-align: center; }
.qnaMyA                                   { margin-top: 20px; }

/* 문의하기 > 작성 */
.questionNotice2                          { padding: 20px 20px 0; line-height: 1.4; }
.questionNotice2 .colorPrimary            { vertical-align: baseline; }
.questionWrite                            { padding: 10px 20px 30px; }