@charset "utf-8";

/* 채팅페이지 slider -slick slider dot */
.slick-dots                    {display:block;list-style:none;padding:0;}
.slick-dots li                 {position:relative;display:inline-block;cursor:pointer;padding:0;}
.slick-dots li button          {font-size:0;line-height:0;display:block;cursor:pointer;color:transparent;outline:none;background:transparent;padding:3px;border:0;}
.slick-dots li button:hover,
.slick-dots li button:focus    {outline:none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {opacity:1;}
.slick-dots li button:before   {font-family:slick;font-size:6px;line-height:20px;width:6px;height:6px;content:'';text-align:center;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block;border:1px solid #fff;border-radius:50%;}
.slick-dots li.slick-active button:before{background-color:#fff;}

.chatSliderWrap                {position: relative;}
.chatSliderDotsWrap            {z-index: 9; position: absolute; top: 17px; right: 12px; display: block;}

.chatSlider                     {overflow: hidden; height: 362px;}
.chatSliderItem                 {float: left; box-sizing: border-box; padding: 45px 15px 20px; width: 100%; height: 362px; background-color: #1eb1c7;}
.chatSliderItem .inner          {position: relative; height: 100%;}

/* 전문가 채팅 */
.expertChat .message            {text-align: center; font-size: 20px;}
.expertChat .profile            {display: flex; align-items: center; margin-top: 25px; padding-bottom: 20px; border-bottom: 1px solid #0ba5bc;}
.expertChat .profileImg         {overflow: hidden; display: block; margin-right: 15px; width: 60px; height: 60px; border-radius: 50%; background-color: #0190a5;}
.expertChat .profileImg img     {width: 100%; height: 100%; object-fit: cover;}
.expertChat .profileText        {flex: 1;}
.expertChat .profileName        {display: block; font-size: 16px; line-height: 1.4;}
.expertChat .profileDesc        {display: block; margin-top: 3px; max-height: 30px; font-size: 12px; color: #126a77; line-height: 1.25;}

.expertChat .roomName           {padding-top: 20px; font-size: 14px;}
.expertChat .roomCategory       {margin-top: 6px; color: #126a77; font-size: 11px;}
.expertChat .roomDesc           {margin-top: 12px; color: #00454f; font-size: 12px;}
.expertChat .roomDesc p         {max-height: 30px; line-height: 1.25;}

.expertChatGo                   {position: absolute; bottom: 0; background-color: #008397;}
.expertChatGo::before           {content: ''; display: inline-block; margin-right: 10px; width: 24px; height: 19px; background: url(/chatbit_m/img/svg/chat_imo.svg) no-repeat; vertical-align: -3px;}
.expertChatGo:hover             {text-decoration: none;}

/* 채팅방 목록 > sort, category */
.chatListFilter                 {padding: 0 15px; border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0;}
.chatListFilter:after           {content: ''; display: block; clear: both;}
.chatSort                       {float: right;}
.chatCategory                   {float: left;}

/* 채팅방 목록 */
.chatroom > a                   {position: relative; display: block; padding: 15px 20px; border-top: 1px solid #f0f0f0;}
.chatroomList .chatroom:first-child a {border-top: 0;}
.chatroomCategory               {display: inline-block; max-width: 75%; color: #888; font-size: 12px; line-height: 1.3; font-weight: 300;}
.chatroomCategory > span::before {content: ''; display: inline-block; margin-right: 5px; margin-top: 5px; width: 5px; height: 5px; border: 1px solid #888; border-width: 1px 1px 0 0; transform: rotate(45deg); vertical-align: top;}
.chatroomCategory > span:first-child::before {display: none;}
.chatroomName                   {margin-top: 20px; padding-right: 37px; font-size: 16px; font-weight: 500; line-height: 1.2;}
.chatroomLabel                  {position: absolute; top: 15px; right: 20px; padding-left: 7px; padding-right: 7px; line-height: 19px; border-radius: 19px; font-size: 12px; background-color: #ddd; color: #888;}
.chatroomLabel.open             {background-color: #eb1c74; color: #fff;}
.chatroomNumber                 {position: absolute; right: 20px; margin-top: -15px; padding-left: 13px; background: url(/chatbit_m/img/svg/user1.svg) no-repeat 0 50%; background-size: 9px; font-weight: 500;}
.chatroomDesc                   {margin-top: 5px; max-height: 54px; color: #555; line-height: 1.38;}

.chatroom .cProfileTime         {display: inline;}

.popupChatPw .inputField input  {padding-right: 0;}

/* 채팅방 개설 버튼 */
.chatCreate                     {float: right; position: relative; width: 120px; padding-left: 0; padding-right: 0;}
.chatCreate:after               {content: ''; position: absolute; top: -9px; left: -9px; display: inline-block; width: 24px; height: 20px; background: url(/chatbit_m/img/svg/chat_imo1.svg) no-repeat; background-size: contain; animation: bounce 2s infinite;}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      top: -5px;
    }
    40% {
      top: -15px;
      background-image: url(/chatbit_m/img/svg/chat_imo2.svg);
    }
    60% {
      top: -10px;
    }
}

/* section title */
.sectionTitle                    { padding: 14px 15px 15px; }
.sectionTitle::after             { content: ''; display: block; clear: both; }
.sectionTitle .text              { display: inline-block; font-size: 18px; font-weight: 500; line-height: 32px; }

/* 필터 셀렉트 */
.cateSelect + .cateSelect        { margin-left: 30px; }

.cateSelect                      {position: relative; box-sizing: border-box; display: inline-block; padding-right: 22px; cursor: pointer; line-height: 40px;}
.cateSelect::after               {content: ''; position: absolute; top: 50%; right: 0; margin-top: -6px; display: block; width: 7px; height: 7px; border: 1px solid #222; border-width: 0 1px 1px 0; transform: rotate(45deg);}
.cateSelect select               { position: absolute; top: 0; left: 0; width: 100%; opacity: 0; border: 0; cursor: pointer; }

.cateSelect.gray                 { color: #888; }
.cateSelect.gray::after          { border-color: #888; }

.cateSelect.disabled             { color: #c0c0c0; cursor: default; }
.cateSelect.disabled::after      { border-color: #c0c0c0; }
.cateSelect select:disabled      { cursor: default; }

.cateSelect2                     { flex: 1; position: relative; box-sizing: border-box; cursor: pointer; line-height: 40px; }
.cateSelect2Label                { position: relative; display: inline-block; padding-right: 27px; font-size: 18px; }
.cateSelect2Label::after         { content: ''; position: absolute; top: 11px; right: 0; display: inline-block; margin-top: 5px; margin-left: 7px; border: 6px solid transparent; border-top: 8px solid #222; border-bottom: 0; vertical-align: top; }
.cateSelect2 select              { position: absolute; top: 0; left: 0; width: 100%; opacity: 0; border: 0; cursor: pointer; }

/* 채팅방 개설 팝업 */
.typeCreateChat .writeCategory    { display: block; margin-top: 15px; }
.typeCreateChat .inputField input { padding-right: 0; }
.popupWritePost .typeCreateChat .inputField { margin-top: 0; }

.createChatCategory               { margin-top: 15px; display: flex; border-bottom: 1px solid #d9d9d9; }
.createChatCategory .cateSelect2:first-child {margin-right: 7px;}

.popupCreateChat .cPopupTitle     { position: absolute; top: 15px; left: 20px; }

.typeCreateChat .cRadio2 input:checked + .cRadio2-text { background-color: #eb1c74; }