@charset "UTF-8";

/* Color */
.colorFb                               { color: #4267b2; }
.colorKa                               { color: #fc0; }
.colorNa                               { color: #1fcc00; }
.colorPrimary                          { color: #1eb1c7; }
.colorSecondary                        { color: #eb1c74; }

/* Checkbox */
.cCheckbox                             { position: relative; display: inline-block; }
.cCheckboxLabel                        { display: block; padding-left: 20px; line-height: 1.2; font-size: 13px; color: #555; }
.cCheckboxLabel:before                 { content: ''; overflow: hidden; position: absolute; top: 1px; left: 0; display: block; width: 15px; height: 15px; background: url(/chatbit_m/img/svg/check_dis.svg) no-repeat; }
input:checked + .cCheckboxLabel:before { background-image: url(/chatbit_m/img/svg/check_en.svg); }

/* Icon */
.iconFb                        { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/sns_f.svg) no-repeat; width: 9px; height: 19px; }
.iconKakao                     { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/sns_k.svg) no-repeat; width: 22px; height: 20px; }
.iconNaver                     { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/sns_n.svg) no-repeat; width: 17px; height: 16px; }

.iconShare                     { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/share.svg) no-repeat; width: 14px; height: 14px; }
.iconReport                    { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/report.svg) no-repeat; background-size: contain; width: 14px; height: 14px; }
.iconBookmark                  { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/bookmark_disable.svg) no-repeat; width: 10px; height: 15px; }
.active .iconBookmark          { background-image: url(/chatbit_m/img/svg/bookmark_enable.svg); }

.iconSetting                   { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/profile_set.svg) no-repeat; width: 16px; height: 16px; }
.iconLetter                    { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/profile_message.svg) no-repeat; width: 17px; height: 15px; }

.iconPost                      { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/profile_tab1.svg) no-repeat; width: 16px; height: 14px; }
.iconNotice                    { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/profile_tab2.svg) no-repeat; width: 16px; height: 16px; }
.iconPoint                     { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/profile_tab3.svg) no-repeat; width: 16px; height: 16px; }

.iconExchange                  { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/exchange.svg) no-repeat; width: 18px; height: 15px; }
.iconCamera                    { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/profile_pic.svg) no-repeat; width: 15px; height: 12px; }

.iconPhoto                     { overflow: hidden; display: inline-block; background: url(/chatbit_m/img/svg/img.svg) no-repeat; width: 16px; height: 16px; }
.iconPlane                     { display: inline-block; margin-top: 4px; margin-right: 2px; width: 14px; height: 12px; background: url(/chatbit_m/img/svg/message_disable.svg) no-repeat; }

.cLikes                        {padding-left: 19px; background: url(/chatbit_m/img/svg/like.svg) 0 0 no-repeat; background-size: 15px; color: #888; font-size: 12px; font-weight: 300;}
.cComments                     {margin-left: 6px; padding-left: 19px; background:url(/chatbit_m/img/svg/re.svg) 0 2px no-repeat; background-size: 16px; color: #888; font-size: 12px; font-weight: 300;}

/* Input */
.inputField .label             { display: block; margin-bottom: 6px; font-weight: 500; font-size: 14px; }
.inputField .input             { position: relative; display: block; padding-top: 10px; }
.inputField textarea,
.inputField input              { box-sizing:border-box; padding:0 30px 9px 0; width: 100%; border: 0; border-bottom: 1px solid #d9d9d9; font-size: 18px; }
.inputField textarea           { padding-right: 0; height: 30px; font-size: 13px; line-height: 1.4; }
.inputField input[value=""]    { border-color: #888; }
.inputField .blueLine input,
.inputField .blueLine textarea { border-color: #1eb1c7; }
.inputField input:focus        { border-color: #1eb1c7; outline: none; }
.inputField .message           { display: none; margin-top: 4px; }
.inputField + .cBtn            { margin-top: 20px; }

/* input > invalid */
.inputField.invalid .input     {border-color: #e1340b;}
.inputField.invalid .message   {display: block; color: #e1340b; font-size: 12px;}

/* input > valid */
.inputField.valid .input       {border-color: #56af00;}
.inputField.valid .message     {display: block; color: #56af00; font-size: 12px;}

/* Button style1 */
.cBtn                          { width: 100%; height: 44px; border-radius: 4px; font-size: 15px; font-weight: 500; background-color: #1eb1c7; color: #fff; }
a.cBtn                         { box-sizing: border-box; text-align: center; line-height: 44px; }
.cBtn.line                     { border: 1px solid #1eb1c7; background-color: #fff; color: #1eb1c7; }

.cBtn + .cBtn                  { margin-top: 8px; }

/* Button style2 */
.cBtn2                         { padding: 0 12px; height: 32px; border: 1px solid #e5e5e5; border-radius: 32px; font-size: 13px; background-color: #fff; color: #888; }
a.cBtn2                        { box-sizing: border-box; line-height: 30px; text-align: center; }
.cBtn2 + .cBtn2                { margin-left: 3px; }

.cBtn2.small                   { padding-left: 10px; padding-right: 10px; height: 25px; font-size: 12px; }
a.cBtn2.small                  { line-height: 23px; }

.cBtn2.fill                    { background-color: #1eb1c7; border-color: #1eb1c7; color: #fff; }

.cBtn2.iconLike::before        { content: ''; display: inline-block; margin-right: 6px; width: 15px; height: 15px; background: url(/chatbit_m/img/svg/like_disable.svg) no-repeat; background-size: 15px; vertical-align: -1px; }
.iconLike.active::before       { background-image: url(/chatbit_m/img/svg/like_enable.svg); }

.btnX                          { overflow: hidden; position: relative; display: inline-block; width: 18px; height: 18px; background: url(/chatbit_m/img/svg/cl_b.svg) no-repeat; }
/* .btnX::before,
.btnX::after                   { content: ''; position: absolute; height: 2px; width: 200%; top: 50%; left: -50%; margin-top: -1px; background-color: #000; }
.btnX::before                  { transform: rotate(45deg); }
.btnX::after                   { transform: rotate(-45deg); } */

.btnX.small                    { width: 14px; height: 14px; }
.btnX.small::before,
.btnX.small::after             { left: 0; width: 100%; height: 1px; background-color: #222; }

.btnRefresh                    { padding: 5px; }
.btnRefresh::after             { content: ''; display: inline-block; width: 14px; height: 14px; background: url(/chatbit_m/img/svg/refresh.svg) no-repeat; background-size: contain; vertical-align: top; }

/* popup */
.cPopup                        { z-index: 100; display: none; position: fixed; top: 0; left: 0; box-sizing: border-box; padding: 42px 20px 40px; width: 100%; height: 100vh; background-color: #fff; }
.cPopupBody                    { overflow-y: auto; position: relative; height: 100%; }
.cPopupInner                   { height: 100%; }

.cPopupClose                   { position: absolute; top: 20px; right: 20px; }

.cPopupTitle                   { margin-bottom: 18px; font-size: 23px; font-weight: 500; }
.cPopupDesc                    { font-size: 14px; line-height: 1.3; }
.cPopupDescBold                { margin-bottom: 15px; font-size: 16px; font-weight: 500px; }

.cPopup-mini                   { z-index: 100; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none; }
.cPopupInner-mini              { box-sizing: border-box; padding: 17px 15px 20px; width: 255px; background-color: #fff; }
.cPopupTitle-mini              { margin-bottom: 17px; font-size: 16px; font-weight: 500; }
.cPopupClose-mini              { position: absolute; top: 12px; right: 10px; padding: 5px; }
.cPopupFooter-mini             { margin-top: 35px; }

/* input - radio */
.cRadio                                     { cursor: pointer; }
.cRadio + .cRadio                           { margin-left: 15px; }
.cRadio-text                                { color: #999; font-weight: 500; }
.cRadio-text:before                         { content: ''; display: inline-block; margin-right: 5px; width: 4px; height: 4px; border-radius: 50%; background-color: #999; vertical-align: middle; }
.cRadio input:checked + .cRadio-text         { color: #222; }
.cRadio input:checked + .cRadio-text::before { background-color: #222; }

/* radio style2 */
.cRadio2 + .cRadio2                         {margin-left: 2px;}
.cRadio2-text                               {display: inline-block; padding-left: 7px; padding-right: 7px; line-height: 20px; border-radius: 20px; background-color: #ddd; color: #888; font-size: 12px; text-align: center; cursor: pointer;}
.cRadio2 input:checked + .cRadio2-text      {background-color: #1c7deb; color: #fff;}
.cRadio2.plus input:checked + .cRadio2-text {background-color: #eb1c74; color: #fff;}

.sortingGroup                     {padding-right: 15px; text-align: right; }

/* 기사 목록 */
.article                          {position: relative; padding: 17px 15px; border-top: 1px solid #f0f0f0;}
.article > a                      {position: relative; display: block; text-decoration: none; color: inherit;}
.article > a::after               {content: ''; display: block; clear: both;}  

.articleImage                     {float: left;}
.articleImage img                 {margin-right: 12px; width: 97px; height: 83px; object-fit: cover; border: 1px solid #f0f0f0;}

.articleTitle                     {box-sizing: border-box; height: 42px; font-size: 16px; font-weight: 500; line-height: 1.3;}
.articleTitle .new                {vertical-align: -2px;}
.newsLabel                        {box-sizing: border-box; display: inline-block; padding: 0 6px; height: 17px; line-height: 17px; border-radius: 17px; background-color: #f0f0f0; text-align: center; font-size: 11px; font-weight: 300; vertical-align: 2px;}
.articleTitle .newsLabel          {margin-left: 2px;}
.articleContents                  {margin-top: 6px; height: 38px; color: #555; line-height: 1.45;}

.articleInfo                      {padding-top: 5px; color: #888; font-weight: 300; font-size: 12px; line-height: 1.4;}
.articleInfo:after                {content: ''; display: block; clear: both;}

.articleInfo .cLikes              {float: right;}
.articleInfo .cComments           {float: right; margin-left: 10px;}
.articleInfo .source              {float: left; display: block; margin-right: 5px;}

@media (max-width: 500px) {
    .haveImg .articleInfo .source {max-width: 58px; overflow:hidden; white-space:nowrap; word-break:break-all; word-wrap:break-word; text-overflow:ellipsis;}
}

.articleInfo .time                {float: left;}
.articleInfo .time:before         {content: ''; margin-right: 5px; display: inline-block; width: 1px; height: 11px; background-color: #eaeaea; vertical-align: -1px;}

/* .articleInfo                     {position: absolute; bottom: 35px; right: 0;} */
.articleInfo .edit                {font-size: 12px; color: #888; line-height: 1.6; text-decoration: none;}
.articleInfo .edit::after         {content: ''; margin-left: 8px; display: inline-block; width: 1px; height: 12px; background-color: #eaeaea; vertical-align: -2px;}
.articleInfo .delete              {margin-left: 7px; border: 0; background-color: transparent; font-size: 12px; color: #888; line-height: 1.6; font-weight: 300;}

/* 이미지가 있는 글 */
.haveImg .articleTitle            {height: 63px;}

/* 차단된 글 */
.article.blocked > a              {pointer-events: none; cursor: not-allowed;}
.article.blocked > a::after       {content: '많은 신고로 차단된 글입니다.'; z-index: 2; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; line-height: 20px; padding-left: 35px; padding-top: 4px; background: url(/chatbit_m/img/svg/report.svg) no-repeat 0 0; background-size: 20px; color: #555; white-space: nowrap;}
.article.blocked > a:before       {content: ''; z-index: 1; display: block; position: absolute; top: 0; left: 0; width: 100%; height:  100%; background-color: rgba(240, 240, 240, 0.96); }

/* 프로필 > 게시글 */
.articleInfoTime                  {display: block; padding-top: 6px; padding-bottom: 5px; color: #888; font-weight: 300; font-size: 12px;}

/* 대표글, 추천, 인기 태그 */
/* .article.hot .articleTitle,
.article.recommend .articleTitle,
.article.represent .articleTitle           {position: relative; display: inline-block; padding-right: 46px;} */

/* .article .newsLabel                        {position: absolute; top: 2px; right: 0;} */

/* 게시글 작성 팝업 */
.popupWritePost .cPopupClose               { top: 18px; }
.popupWritePost .cPopupTitle               { position: absolute; top: 15px; left: 20px; }

.selectBoardType                           { position: relative; margin-top: 10px; border-bottom: 1px solid #d9d9d9; }
.selectBoardType::after                    { content: ''; position: absolute; top: 11px; right: 0; display: inline-block; margin-top: 5px; margin-left: 7px; border: 6px solid transparent; border-top: 8px solid #222; border-bottom: 0; vertical-align: top; }
.selectBoardType select                    { padding-top: 10px; padding-bottom: 10px; padding-right: 15px; width: 100%; border: 0; font-size: 18px; background-color: #fff; }

.popupWritePost .inputField                { margin-top: 13px; }
.popupWritePost .inputField input          { padding-right: 0; font-size: 17px; line-height: 1.4; }

.writeBodyWrap                             { position: relative; margin-top: 20px; /*min-height: 200px;*/ }
.writeBody .editor                         { box-sizing: border-box; padding: 20px 15px; width: 100%; height: 254px; border: 1px solid #d9d9d9; border-width: 1px 0; background-color: #f8f8f8;  }
.writeButtons                              { padding-top: 20px; }
.writeCategory                             { display: none; }

.writeBodyMeta                             { margin-top: 13px; }
.writeBodyMeta::after                      { content: ''; display: block; clear: both; }
.writeBodyMeta .imgUpload                  { float: left; }
.writeBodyMeta .writeEditorLength          { float: right; color: #888; font-size: 12px; font-weight: 300; }

.imgUpload                                 { overflow: hidden; position: relative; box-sizing: border-box; display: block; padding: 0; width: 120px; height: 32px; }
.imgUpload .figment                        { width: 100%; height: 100%; font-size: 12px; color: #888; }
.uploadInputFile                           { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }
.imgUpload .iconPhoto                      { margin-right: 7px; vertical-align: -3px; }

/* button row group */
.rowGroup                                  { display: flex; } 
.rowGroup .cBtn + .cBtn                    { margin-top: 0; margin-left: 8px; }

.editorPlaceholder                         { position: absolute; top: 20px; left: 15px; width: 90%; color: #bbb; line-height: 1.5; font-size: 13px; pointer-events: none; }
.editorPlaceholder li                      { position: relative; padding-left: 9px; }
.editorPlaceholder li::before              { content: ''; position: absolute; top: 9px; left: 0; display: inline-block; margin-right: 6px; width: 4px; height: 4px; border-radius: 50%;background-color: #bbb; }

/* 에디터 스타일 덮어씌움 */
.panel-default > .panel-heading            { width: auto !important; }

/* 글쓰기 > 코인톡톡 */
.typeCerti .writeCategory                  { z-index: 1; position: absolute; display: inline-block; margin-top: -36px; }
.typeCerti .inputField input               { padding-left: 94px; }
.typeCerti .writeCategory .cRadio2-text    { min-width: 29px; }
.typeCerti .writeCategory .cRadio2 + .cRadio2 { margin-left: 0; }

/* profile */
.cProfile                                 {position: relative; padding-left: 45px; min-height: 35px; font-size: 12px;}
.cProfile .cProfileImg                    {position: absolute; top: 0; left: 0; }
.cProfileImg                              {overflow: hidden; display: block; width: 35px; height: 35px; border-radius: 50%; background: url(/chatbit_m/img/svg/pic_none.svg) no-repeat; background-size: 100%;}
.cProfileImg img                          {width: 100%; height: 100%; object-fit: cover;}
.cProfileImg img[src=""]                  {display: none;}
.cProfileName                             {display: block; line-height: 1.6;}
.cProfileTime                             {display: block; color: #888; font-weight: 300; line-height: 1.3;}

.cProfileImg.size45                       {width: 45px; height: 45px;}
.cProfileImg.size60                       {width: 60px; height: 60px;}
.cProfileImg.size90                       {width: 90px; height: 90px;}

/* 수익인증 게시판 스타일 */
.articleCard .cProfile                    {margin-left: 5px;}

.articleCard                              {position: relative; box-sizing: border-box; padding: 15px; border-top: 1px solid #f0f0f0; background-color: #fff;}
.articleCard > a                          {display: block;}
.articleCard .newsLabel                   {position: absolute; top: 8px; left: 10px;}
.articleCardTitle                         {margin-top: 13px; margin-left: 5px; max-height: 40px; font-size: 16px; font-weight: 500; line-height: 1.25;}
.articleCardImg                           {position: relative; margin-top: 15px; height: 206px; background: #f2f2f2 url(/chatbit_m/img/none1.png) no-repeat 50% 50%; background-size: 290px;}
.articleCardImg::before                   {content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.06);}
.articleCardImg img                       {width: 100%; height: 100%; object-fit: cover;}
.articleCardInfo                          {margin-top: 18px;}
.articleCardInfo .cComments               {margin-left: 10px;}

/* 라벨 컬러 */
.plus .articleCardImg .newsLabel          {background-color: #eb1c74; color: #fff;}
.minus .articleCardImg .newsLabel         {background-color: #1c7deb; color: #fff;}

/* 프로필 > 게시글: 수익인증 기사 */
.plus .articleImage,
.minus .articleImage                      {position: relative;}
.plus .articleImage::after,
.minus .articleImage::after               {content: ''; position: absolute; top: 0; left: 0; display: block; width: 25px; height: 25px; background: rgba(235, 28, 116, 0.9) url(/chatbit_m/img/svg/arr_v.svg) no-repeat 50% 50%; background-size: 8px;}
.minus .articleImage::after               {background-color: rgba(28, 125, 235, 0.9); transform: rotate(90deg);}

/* 차단된 글 */
.articleCard.blocked > a                  {pointer-events: none; cursor: not-allowed;}
.articleCard.blocked > a::after           {content: '많은 신고로 차단된 글입니다.'; z-index: 2; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; line-height: 20px; padding-left: 35px; padding-top: 4px; background: url(/chatbit_m/img/svg/report.svg) no-repeat 0 0; background-size: 20px; color: #555; white-space: nowrap;}
.articleCard.blocked > a:before           {content: ''; z-index: 1; display: block; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; background-color: rgba(240, 240, 240, 0.96)}

/* 더보기 버튼 */
.articleMore                              { display: block; padding: 13px 0; width: 100%; border-top: 1px solid #f0f0f0; color: #888; font-weight: 300; text-align: center; background-color: #fff; }
.articleMore::after                       { content: ''; display: inline-block; margin-left: 7px; width: 12px; height: 6px; background: url(/chatbit_m/img/svg/arr_ver2.svg) no-repeat; vertical-align: 2px; }

/* 공지사항 상세 */
.articleViewButtons + .viewPagingWrap     { margin-top: 21px; }

/* 게시글 없을 때 */
.noData                                   { padding: 40px 0; font-weight: 300; font-size: 14px; color: #bbb; text-align: center;}

/* page - 운영정책 */
.contentPolicy                            { padding: 20px 20px 30px; color: #888; font-size: 12px; line-height: 1.5; }

/* a태그에 링크 없을 때 */
a.disabled                                { pointer-events: none; cursor: default; }

/* 최신순/인기순 정렬 */
.orderCheckbox                            { display: inline-block; padding-left: 20px; background: url(/chatbit_m/img/svg/sorting.svg) no-repeat 0 50%; background-size: 14px; cursor: pointer; }
.orderCheckbox-text                       { line-height: 40px; }

/* 스위치 토글 버튼(체크박스) */
.cSwitch                                  { position: relative; display: inline-block; padding-top: 3px; padding-bottom: 3px; font-size: 12px; }
.cSwitchLabel                             { transition: background-color .2s ease-in-out; display: block; width: 84px; height: 26px; background-color: #d9d9d9; border-radius: 26px; cursor: pointer; }
.cSwitchLabel:after                       { transition: left .3s ease; content: ''; position: absolute; top: 0; left: 0; display: block; width: 30px; height: 30px; border: 1px solid #d9d9d9; background-color: #fff; border-radius: 50%; }
.cSwitchLabel:before                      { content: 'OFF'; position: absolute; left: 40px; color: #888; line-height: 26px; }

.cSwitch input:checked + .cSwitchLabel        { background-color: #1eb1c7; }
.cSwitch input:checked + .cSwitchLabel:after  { left: 52px; border-color: #1eb1c7; }
.cSwitch input:checked + .cSwitchLabel:before { content: 'ON'; left: 23px; color: #fff; }

/* 리스트 */
.cListDash > li                           { position: relative; margin-top: 10px; padding-left: 8px; font-size: 12px; line-height: 1.34; }
.cListDash > li:first-child               { margin-top: 0; }
.cListDash > li:after                     { content: '-'; position: absolute; top: -1px; left: 0; }

/* 서버 점검 중 */
.errorPage                                { padding: 100px 15px 40px; background: url(/chatbit_m/img/svg/symbol.svg) no-repeat 50% 30px; background-size: 49px; }
.errorPageTitle                           { font-size: 20px; font-weight: 500; text-align: center; }
.errorPageDesc                            { margin-top: 25px; padding: 25px 20px 30px; background-color: #f8f8f8; font-weight: 300; font-size: 12px; line-height: 1.6; }
.errorPageDesc strong                     { font-weight: 500; }
.errorPageDesc .thanks                    { display: block; margin-top: 10px; }

/* 이용 정지 안내 팝업 */
.bubbleNotice                             { z-index: 110; display: none; box-sizing: border-box; position: absolute; top: 55px; margin: 0 15px; padding: 25px; width: calc(100% -  30px); background: #fff; }
.bubbleNoticeTitle                        { font-size: 17px; font-weight: 500; }
.bubbleNoticeContent                      { margin-top: 18px; font-weight: 300; line-height: 1.45; }
.bubbleNoticeContent strong               { font-weight: 500; }
.bubbleNoticeContent a                    { vertical-align: baseline; text-decoration: underline; }
.bubbleNoticeDetail                       { margin: 12px 0; padding: 18px 15px; background-color: #f8f8f8; }
.bubbleNoticeDetail dt                    { font-size: 11px; }
.bubbleNoticeDetail dd                    { margin-top: 2px; font-size: 12px; font-weight: 500; }
.bubbleNoticeDetail dd + dt               { margin-top: 13px; }
.bubbleNotice .cBtn                       { margin-top: 20px; }

/* 회원신고 팝업 */
.popupReport .cPopupTitle                 { position: absolute; top: 15px; left: 20px; }
.popupReport .text1                       { padding-top: 18px; font-size: 17px; font-weight: 500; }
.popupReport .text2                       { margin-top: 13px; font-size: 15px; color: #888; line-height: 1.35; }
.popupReport .text2 strong                { color: #222; font-weight: 500; }

/* CGP 교환 팝업 */
.popupExchange .cPopupTitle               {position: absolute; top: 15px; left: 20px;}
.popupExchangeBtn                         {margin-top: 33px;}
.exchange-title-img                       {padding: 30px 0 40px; text-align: center;}
.cgp-exchange-tabs                        {padding-top: 20px;}
.cgp-exchange-tabs:after                  {content: ''; display: block; clear: both;}
.cgp-exchange-tab                         {float: left; width: 50%; height: 38px; border: 1px solid #83dbe0; background-color: #fff; color: #1eb1c7;}
.cgp-exchange-tab.active                  {border-color: #1eb1c7; background-color: #1eb1c7; color: #fff;}
.cgp-exchange-tabs .cgp-exchange-tab:first-child {border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.cgp-exchange-tabs .cgp-exchange-tab:last-child  {border-top-right-radius: 4px; border-bottom-right-radius: 4px;}

.cgp-exchange-tab .to                     {overflow: hidden; display: inline-block; margin-left: 8px; margin-right: 8px; width: 17px; height: 12px; background: url(/chatbit_m/img/svg/exchange_c.svg) no-repeat; vertical-align: -1px;}
.cgp-exchange-tab.active .to              {background-image: url(/chatbit_m/img/svg/exchange_w.svg);}
.cgp-exchange-tabs .cgp-exchange-tab:last-child .to         {transform: scaleX(-1);}

.cgp-exchange-info-wrap                   {padding: 3px 15px; background-color: #f8f8f8;}
dl.cgp-exchange-info                        {overflow: hidden; margin-bottom: 0; padding: 12px 0; font-size: 12px;}
.cgp-exchange-info dt                     {float: left; font-size: 12px; font-weight: 400;}
.cgp-exchange-info dd                     {float: right; font-weight: 400;}
.cgp-exchange-info-wrap .cgp-exchange-info:first-child {border-bottom: 1px solid #d9d9d9;}
.cgp-exchange-info-wrap .cgp-exchange-info:first-child dt,
.cgp-exchange-info-wrap .cgp-exchange-info:first-child dd {color: #888;}

.cgp-exchange-form                              {margin-top: 30px;}
.cgp-exchange-input + .cgp-exchange-input input {color: #1eb1c7; font-weight: 400;}
.cgp-exchange-input .inputField .label          {margin-bottom: 0; font-size: 13px; font-weight: 600;}
.cgp-exchange-input .inputField input           {padding-bottom: 5px; font-size: 16px; line-height: 30px;}
.cgp-exchange-input .unit                       {overflow: hidden; position: absolute; bottom: 11px; right: 0; margin-top: -10px; display: inline-block; width: 47px; height: 16px; background-position: 100% 50%; background-repeat: no-repeat; background-size: 15px; color: #1eb1c7; line-height: 15px;}
/* CBP → CGP */
.cgp-exchange-form .cgp-exchange-input .unit             {background-image: url(/chatbit_m/img/svg/CGP.svg);}
.cgp-exchange-form .cgp-exchange-input:first-child .unit {background-image: url(/chatbit_m/img/svg/CBP.svg); color: #83dbe0;}
/* CGP → CBP */
.toCbp .cgp-exchange-input .unit                         {background-image: url(/chatbit_m/img/svg/CBP.svg); color: #83dbe0;}
.toCbp .cgp-exchange-input:first-child .unit             {background-image: url(/chatbit_m/img/svg/CGP.svg); color: #1eb1c7;}
.cgp-exchange-input .inputField input                    {padding-right: 60px;}

.exchange-unit-info                   {margin-top: 18px; font-size: 12px; text-align: center; color: #888; font-weight: 400;}

/* 검색결과 */
.searchHeading                        { padding: 30px 20px; font-size: 16px; text-align: center; line-height: 1.37; }
.searchHeading.noResult               { margin-top: 15px; }
.searchHeading .searchWord            { color: #1eb1c7; }
.searchHeading .searchRetry           { margin-top: 15px; color: #bbb; font-size: 13px; font-weight: 300; }

.searchedCategory                     { padding: 17px 15px 15px; border-top: 1px solid #d9d9d9; }
.searchedCategory::after              { content: ''; display: block; clear: both; }
.searchedCategory .text               { float: left; font-size: 18px; font-weight: 500; }
.searchedCategory .more               { float: right; display: block; margin-top: 3px; color: #888; font-weight: 300; }
.searchedCategory .more::after        { content: ''; display: inline-block; margin-top: 1px; margin-left: 3px;  width: 7px; height: 12px; background: url(/chatbit_m/img/svg/arr_hor2.svg) no-repeat; vertical-align: top; }
.searchedCategory .count              { font-size: 14px; vertical-align: baseline; }

.searchResultList                     { padding: 25px 15px; border-top: 1px solid #f0f0f0; font-size: 16px; line-height: 1.31; }
.searchResultList li:not(:first-child) { margin-top: 10px; }
.searchResultList a                   { position: relative; padding-left: 10px; line-height: inherit; }
.searchResultList a:before            { content: '-'; position: absolute; top: -3px; left: 0; }

/* new 라벨 */
.labelNew                             { display: inline-block; margin-top: 2px; width: 17px; height: 17px; line-height: 17px; border-radius: 50%; background-color: #25c0d7; font-size: 11px; font-weight: 700; color: #fff; text-align: center; }

/* 게시글 상세에 캡션 들어가는 이미지에 대해 */
#img_caption                          { width: 100% !important; }