body						{ padding:48px 0 0; width:100%; }
.dim						{ position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:100; display:none; }

.headerWrap					{ width:100%; height:48px; position:fixed; top:0; left:0; display:inline-block; z-index:10; background:#fff; border-bottom:1px solid #e5e5e5; }
.headerWrap .logo			{ position:absolute; top:10px; left:50%; margin-left:-61px; }
.headerWrap .menuBt			{ float:left; margin:1px; padding:15px; }
.headerWrap .headR			{ float:right; padding:7px; }
.headerWrap .headR>a		{ padding:8px; }

.searchArea					{ display: none; position:fixed; top:0; left:0; width:calc(100% - 2px); height:calc(100% - 2px); border:1px solid #fff; background:rgba(0,0,0,0.6); z-index:100; }
.searchArea form			{ height:58px; padding:0 47px 0 15px; position:relative; background:#fff; }
.searchArea form input		{ width:100%; height:58px; border:0; font-size:18px; color:#888; font-weight:300; }
.searchAreaClose			{ width:17px; height:17px; background:url(/chatbit_m/img/svg/cl_s.svg) 0 0 no-repeat; background-size:17px; position:absolute; top:20px; right:15px; }



.mob_gnb					{ position:fixed; top:0; left:-256px; width:256px; height:100%; overflow:auto; background:#fff; z-index:101; }
.mob_gnb .mobGnbCloseBt		{ position:absolute; top:0; right:3px; padding:12px; }
.userArea .loginBefore			{ height:45px; line-height:45px; padding:23px 20px; font-size:14px; color:#999; display:block; }
.userArea .loginBefore .img		{ width:45px; height:45px; display:inline-block; margin:0 10px 0 0; background:url(/chatbit_m/img/svg/pic_none.svg) 0 0 no-repeat; background-size:45px; }
.userArea .loginBefore .img img	{ width:45px; height:45px; border-radius:100%; }

.userArea .loginAfter>a		        { position: relative; height:45px; margin:23px 20px; font-size:14px; color:#999; display:block; }
.userArea .loginAfter>a .img		{ position: absolute; top: 0; left: 0; width:45px; height:45px; display:inline-block; margin:0 10px 0 0; background:url(/chatbit_m/img/layout/gnbUserBg.png) 0 0 no-repeat; background-size:45px; vertical-align:0; }
.userArea .loginAfter>a .img img	{ width:45px; height:45px; border-radius:100%; }
.userArea .loginAfter>a strong		{ display:block; padding-top: 25px; padding-left: 55px; font-size:16px; color:#222; font-weight:500; }
.userArea .loginAfter>a span		{ position: absolute; top: 4px; left: 55px; font-size:11px; color:#eb1c74; vertical-align:middle;  }

.userArea .loginAfter .userAlram	{ padding:6px 20px 0; margin:0 0 25px; overflow:hidden; }
.userArea .loginAfter .userAlram>a	{ float:left; font-size:12px; color:#222; padding:0 0 0 23px; height:32px; line-height:32px; margin-left:25px; position:relative; }
.userArea .loginAfter .userAlram>a.alram			{ background:url(/chatbit_m/img/svg/alram.svg) 0 50% no-repeat; background-size:14px auto; margin:0; }
.userArea .loginAfter .userAlram>a.memo				{ background:url(/chatbit_m/img/svg/note.svg) 0 50% no-repeat; background-size:17px auto; }
.userArea .loginAfter .userAlram>a.logout			{ background:url(/chatbit_m/img/svg/logout.svg) 0 50% no-repeat; background-size:16px auto; }
.userArea .loginAfter .userAlram>a span				{ position:absolute; top:0; left:7px; width:15px; height:14px; background:#eb1c74; border-radius:100%; text-align:center; line-height:14px; color:#fff; font-size:11px; }

.userArea .loginAfter .changeArea	{ height:48px; background:#f8f8f8; padding:13px 20px; position:relative; }
.userArea .loginAfter .changeArea .CP				{ height:24px; line-height:24px; }
.userArea .loginAfter .changeArea .CP strong		{ display:inline-block; width:34px; font-weight:600; color:#222; font-size:13px; }
.userArea .loginAfter .changeArea .CP span			{ font-size:13px; color:#222; font-weight:400; }
.userArea .loginAfter .changeArea>a					{ position:absolute; top:13px; right:20px; }


.gnb						{ border-top:1px solid #3ca1ca; }
.gnb>.home					{ height:45px; line-height:45px; color:#1eb1c7; font-size:16px; font-weight:500; padding:0 0 0 20px; display:block; border-bottom:1px solid #f0f0f0; }
.gnb>ul>li a				{ height:45px; line-height:45px; font-size:16px; font-weight:500; padding:0 0 0 20px; display:block; font-size:#222; border-bottom:1px solid #f0f0f0; }
.gnb>ul>li>a.game			{ background:url(/chatbit_m/img/svg/game.svg) left 20px center no-repeat; background-size:13px auto; padding-left:40px; }
.gnb>ul>li>ul>li>a			{ font-size:14px; color:#888; }

.gnb .sub > a               { position: relative; }
.gnb .sub > a::after        { content: ''; position: absolute; top: 20px; right: 20px; display: inline-block; width: 14px; height: 8px; background: url(/chatbit_m/img/svg/sideber_arr.svg) no-repeat; transform: rotate(180deg); }
.gnb .sub > a.active::after { transform: rotate(0deg); }

.containerWrap				{ min-height:calc(100vh - 192px); }

/* 게시판 페이지에서 메뉴 이동 버튼 클릭할 때 */
.dim2                       { z-index: 8; position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: none; width: 100%; height: 100%; background-color: #000; opacity: 0.5; }

/* 게시판 페이지에서 로고대신 메뉴이동 셀렉트박스 */
.boardSelect                { background-color: orange; }
.boardLabel                 { z-index: 20; position: fixed; top: 0; left: 50%; transform: translateX(-50%); min-width: 124px; height: 48px; font-size: 18px; font-weight: 500; background-color: #fff; }
.boardLabel:after           { content: ''; display: inline-block; margin-top: 5px; margin-left: 7px; border: 6px solid transparent; border-top: 8px solid #222; border-bottom: 0; vertical-align: top; }

.boardLinks                 { z-index: 9; position: fixed; top: 49px; overflow: scroll; width: 100%; height: 253px; font-size: 15px; font-weight: 500; text-align: center; transform: translateY(-100%); transition: transform 0.3s ease-in; }
.boardLinks a               { display: block; padding: 15px; border-bottom: 1px solid #f0f0f0; background-color: #fff;}
.boardLinks .active a       { color: #1eb1c7; }

.boardLabel.active + .boardLinks { transform: translateY(0); }
.boardLabel.active:after    { transform: rotate(180deg); }

/* footer */
.footer						{ border-top:1px solid #e5e5e5; background:#f8f8f8; width:100%; height:95px; padding:22px 0 26px; }
.footer .footMenu			{ width:100%; text-align:center; }
.footer .footMenu a			{ font-size:12px; color:#666; padding:0 8px; position:relative; }
.footer .footMenu a:after	{ content:''; width:1px; height:11px; background:#d9d9d9; position:absolute; top:0; left:0; }
.footer .footMenu a:first-child:after		{ display:none; }
.footer .footMenu a.point	{ font-weight:400; }

.footer .change				{ width:212px; margin:12px auto; overflow:hidden; }
.footer .change .langSelectArea				{ width:98px; height:23px; border:1px solid #e6e6e6; overflow:hidden; position:relative; background:#fff; float:left; margin:0 3px; }
.footer .change .langSelectArea label		{ position: relative; font-size:12px; color:#666; line-height:23px; height:23px; width:98px; text-align:center; display:inline-block; cursor:pointer; }
.langSelectArea label::after                { content: ''; position: absolute; top: 8px; right: 9px; display: inline-block; border: 5px solid transparent; border-top: 6px solid #666; border-bottom: 0; }
.footer .change .langSelectArea select		{ opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.footer .change .goToPc						{ width:98px; height:23px; border:1px solid #e6e6e6; background:#fff; font-size:12px; color:#666; line-height:23px; text-align:center; float:right; margin:0 3px; }

.footer address				{ font-size:11px; color:#888; text-align:center; line-height:140%; }

/* 서브 페이지 타이틀 */
.pageTitle {z-index: 10; position: fixed; top: 0; left: 50%; transform: translateX(-50%); min-width: 124px; height: 48px; line-height: 48px; font-size: 19px; font-weight: 500; background-color: #fff; text-align: center;}

.changeBt                   { box-sizing: border-box; padding-top: 29px; width: 54px; height: 54px; border: 1px solid #f0f0f0; border-radius: 50%; background: #fff url(/chatbit_m/img/svg/exchange.svg) no-repeat 50% 10px; background-size: 18px; font-size: 10px; color: #888; text-align: center; }

.floating										{ position:fixed; right:15px; bottom:10px; width:50px; z-index:99; }
.floating a										{ display:block; }
.floating a + a                                 { margin-top: 6px; }
.floating img									{ width:55px; }
.btnLiveChat                                    { display: block; width: 50px; height: 50px; border-radius: 50%; background: #1eb1c7 url(/chatbit_m/img/svg/floa_chat.svg) no-repeat 50% 50%; background-size: 21px; box-shadow: 0px 5px 9px 0 rgba(0, 0, 0, 0.2); }
.btnToTop                                       { display: block; width: 50px; height: 50px; border: 1px solid #eaeaea; border-radius: 50%; background: #fff url(/chatbit_m/img/svg/floa_top.svg) no-repeat 50% 50%; background-size: 13px; box-shadow: 0px 5px 9px 0 rgba(0, 0, 0, 0.2); }