@charset "uft-8";

/* 쪽지 목록 */
.letterList > li:last-child .letterItem { border-bottom: 0; }
.letterItem                    { position: relative; display: block; box-sizing: border-box; width: 100%; padding: 15px; padding-left: 75px; min-height: 45px; border-bottom: 1px solid #e6e6e6; line-height: 1.5; }
.letterImg                     { position: absolute; top: 16px; left: 15px; }
.letterRecipient               { display: inline-block; max-width: calc(100% - 105px); font-weight: 500; font-size: 16px; }
.letterUnread                  { display:inline-block; box-sizing: border-box; margin-top: 3px; margin-left: 3px; min-width: 19px; line-height:19px; padding:0 7px; border-radius: 19px; background:#eb1c74; color:#fff; font-size:12px; vertical-align: middle; }
.letterTime                    { position: absolute; top: 17px; right: 15px; color: #888; }
.letterText                    { margin-top: 2px; font-size: 12px; color: #888; }

/* 쪽지 상세 */
.letterPopup                   { padding: 49px 20px 50px; background-color: #f8f8f8; }

/* 더보기 버튼 */
.btnMoreDots                   { padding: 11px 5px; font-size: 0; }
.btnMoreDots .dot              { display: inline-block; margin-left: 3px; width: 3px; height: 3px; background-color: #222; border-radius: 50%; }
.btnMoreDots .dot:first-child  { margin-left: 0; }

/* 쪽지 상세 > 상단 */
.letterHeader                  { position: absolute; top: 0; left: 0; box-sizing: border-box; padding: 6px 52px 7px 20px; width: 100%; height: 48px; border-bottom: 1px solid #f0f0f0; background-color: #fff; }
.letterHeader .cProfile        { float: left; }
.letterHeader .cProfileName    { font-size: 18px; font-weight: 500; line-height: 35px; }
.letterHeaderMore              { float: right; margin-top: 5px; }
.letterHeader .cPopupClose     { top: 15px; }

.letterHeaderMore              { position: relative; }
.letterHeaderMore .fn          { z-index: 10; display: none; position: absolute; top: 27px; right: -6px; border: 1px solid #888; background-color: #fff; font-size: 12px; }
.letterHeaderMore .fn button   { display: block; padding: 0 15px; border-top: 1px solid #f0f0f0; line-height: 32px; white-space: nowrap; }
.letterHeaderMore .fn button:first-child { border-top: 0; color: #999; }

.btnMoreDots.active + .fn      { display: block; }

/* 쪽지 상세 > 하단 */
.letterFooter                  { position: fixed; bottom: 0; left: 0; box-sizing: border-box; padding: 14px 70px 14px 15px; width: 100%; border-top: 1px solid #f0f0f0; background-color: #fff; line-height: 1.53; }
.letterFooter textarea         { overflow: auto; width: 100%; height: 22px; font-size: 15px; border: 0; transition: height .2s ease-in-out; }
.btnLetterSend                 { position: absolute; bottom: 9px; right: 20px; width: 32px; height: 32px; border-radius: 50%; border: 1px solid #f1f1f1; transition: all .2s ease-in-out; }
.letterFooter .editorPlaceholder { top: 15px; left: 20px; width: auto; }

/* 쪽지 상세 > 하단 : 작성중 */
.letterFooter textarea:focus                             { height: 66px; }
.letterFooter textarea:focus + .btnLetterSend            { bottom: 15px; background-color: #1eb1c7; border-color: #1eb1c7; }
.letterFooter textarea:focus + .btnLetterSend .iconPlane {background-image: url(/chatbit_m/img/svg/message_ensable.svg);}
.letterPopup.writing          { padding-bottom: 95px; }

/* 쪽지 상세 > 대화 내용 */
.letterBody                    { overflow: auto; height: 100%; }
.letterBox                     { position: relative; margin-top: 20px; margin-bottom: 20px; padding-left: 45px; }
.letterBoxImg                  { position: absolute; top: 0; left: 0; }
.letterBoxName                 { float: left; }
.letterBoxTime                 { float: right; }
.letterBoxName,
.letterBoxTime                 { display: block; height: 31px; line-height: 35px; color: #888; font-size: 12px; }
.letterBoxText                 { clear: both; line-height: 20px; font-weight: 400; font-size: 16px; }

.letterBox.unread .letterBoxTime:after { content: ''; display: inline-block; margin-left: 6px; width: 4px; height: 4px; border-radius: 50%; background-color: #eb1c74; vertical-align: 2px; }

.letterTimeLine                { position: relative; margin-top: 30px; font-size: 12px; color: #888; text-align: center; }
.letterTimeLine::before        { content: ''; z-index: 1; position: absolute; top: 6px; display: block; width: 100%; height: 1px; background-color: #e5e5e5; }
.letterTimeLine .value         { z-index: 2; position: relative; padding: 0 10px; background-color: #f8f8f8; }

