.coinPriceTop						{ height:45px; padding:0 0 0 15px; position:relative;
	background: rgb(30,177,199); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(30,177,199,1) 0%, rgba(104,136,206,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(30,177,199,1) 0%,rgba(104,136,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(30,177,199,1) 0%,rgba(104,136,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eb1c7', endColorstr='#6888ce',GradientType=1 ); /* IE6-9 */
}
.coinPriceTop strong				{ line-height:45px; color:#fff; font-size:16px; font-weight:500; }
.coinPriceTop strong a				{ line-height:45px; margin:15px 0 0 5px; vertical-align:middle; }
.coinPriceTop .coinPriceBt			{ display:inline-block; width:14px; height:7px; position:absolute; top:10px; right:5px; padding:10px; background:url(/chatbit_m/img/svg/arr_ver_main.svg) 50% 50% no-repeat; transform: rotate(180deg); background-size:14px auto; }
.coinPriceTop .coinPriceBt.on		{ background-image:url(/chatbit_m/img/svg/arr_ver_main.svg); transform: rotate(0deg); }
.coinPriceTop .coinPriceBt img		{ width:100%; }

.swiper-coinPro,
.swiper-container		{ width: 100%; height: 100%; }
.swiper-container .swiper-slide			{ text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.coinPrice				{ height:45px; border-bottom:1px solid #f0f0f0; padding:0 5px; box-sizing:border-box; }
.coinPriceTab li		{ height:45px; }
.coinPriceTab li a		{ display:block; height:44px; line-height:44px; font-size:14px; color:#222; font-weight:400; border-bottom:1px solid #f0f0f0; width:100%; }
.coinPriceTab li.on a	{ color:#1eb1c7; font-weight:500; border-bottom:1px solid #1eb1c7; }
.coinPriceCont>div		{ display:none; width:100%; }
.coinPriceCont>div table th			{ border-bottom:1px solid #e5e5e5; height:35px; font-size:11px; color:#888; vertical-align:middle; font-weight:300; }
.coinPriceCont>div table th:nth-child(1)		{ width:15%; }
.coinPriceCont>div table th:nth-child(2)		{ width:25%; }
.coinPriceCont>div table th:nth-child(3)		{ width:40%; }
.coinPriceCont>div table th:nth-child(4)		{ width:20%; }
.coinPriceCont>div table td		            	{ padding-top: 17px; padding-bottom: 17px; border-top:1px solid #f0f0f0; text-align:center; font-size:12px; color:#222; line-height: 1.2; vertical-align: middle; }
.coinPriceCont>div table tbody tr:first-child td{ border:0; }
.coinPriceCont>div table td:nth-child(3)		{ text-align:right; padding-left: 10px; padding-right: 10px; }
@media (max-width: 320px) {
    .coinPriceCont>div table td:nth-child(3) { padding-left: 5px; padding-right: 5px; }
}

.coinPriceCont>div table td.primeum				{ color:#07a1b8; }
.coinPriceCont>div table td .up					{ position: relative; color:#eb1c74; }
.coinPriceCont>div table td .down				{ position: relative; color:#1c7deb; }
.coinPriceCont>div table td strong				{ padding:0 0 0 12px; }
.coinPriceCont>div table td strong.up::before   { content: ''; position: absolute; top: 5px; left: 0; display: inline-block; border: 6px solid transparent; border-bottom: 10px solid #eb1c74; border-top: 0; }
.coinPriceCont>div table td strong.down::before { content: ''; position: absolute; top: 5px; left: 0; display: inline-block; border: 6px solid transparent; border-top: 10px solid #1c7deb; border-bottom: 0; }


.coinSetting									{ position:fixed; top:0; left:0; width:calc(100% - 40px); height:calc(100% - 190px); background:#fff; z-index:100; padding:100px 20px 90px; display:none; }
.coinSetting .tit								{ position:absolute; top:0; left:0;  width:calc(100% - 40px); padding:30px 20px 0; }
.coinSetting .tit strong						{ display:block; font-size:23px; color:#222; font-weight:500; padding:0 0 10px; }
.coinSetting .tit span							{ font-size:13px; color:#888; font-weight:300; }
.coinSetting .tit a								{ width:17px; height:17px; background:url(/chatbit_m/img/svg/cl_b.svg) 0 0 no-repeat; background-size:17px; position:absolute; top:30px; right:20px; }
.coinSetting .coinSettingList					{ width:100%; height:100%; position:relative; overflow:auto; }
.coinSetting .coinSettingList ul				{ width:100%; display:inline-block; }
.coinSetting .coinSettingList ul li				{ float:left; width:calc(33.333333333% - 5px); height:50px; margin:0 0 5px 5px; }
.coinSetting .coinSettingList ul li:nth-child(3n+1)		{ margin:0 0 5px; }
.coinSetting .coinSettingList ul li a			{ display:block; border:1px solid #f0f0f0; width:calc(100% - 2px); height:48px; text-align:center; font-size:12px; color:#222; font-weight:300; }
.coinSetting .coinSettingList ul li a strong	{ display:block; font-size:14px; color:#222; font-weight:500; padding:8px 0 5px; }
.coinSetting .coinSettingList ul li a.on		{ color:#1eb1c7; border:1px solid #1eb1c7; }
.coinSetting .coinSettingList ul li a.on strong			{ color:#1eb1c7; }
.coinSetting .confirm							{ position:absolute; bottom:30px; left:0; margin:0 20px; width:calc(100% - 40px); height:44px; text-align:center; line-height:44px; color:#fff; background:#1eb1c7; font-size:15px; font-weight:500; border-radius:7px; }




.main_section									{ width:100%; display:inline-block; }
.main_section>.tit								{ margin:2px 15px 0; position:relative; }
.main_section>.tit strong						{ line-height:46px; font-size:18px; color:#222; font-weight:500; }
.main_section>.tit a							{ position:absolute; top:15px; right:0; background:url(/chatbit_m/img/svg/arr_hor1.svg) 0 0 no-repeat; background-size:9px 15px; width:9px; height:15px; display:inline-block; }
.main_section .boardTop							{ margin:0 10px 15px; width:calc(100% - 20px); display:inline-block; }
.main_section .boardTop a						{ width:calc(50% - 10px); margin:0 5px; float:left; }
.main_section .boardTop .newsImg                { position: relative; padding-top: 70%; }
.main_section .boardTop .newsImg>img			{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; border:1px solid #f0f0f0; width:calc(100% - 2px); height: 100%; object-fit: cover; }
.main_section .boardTop a strong				{ display:block; font-size:16px; color:#222; margin:7px 0; line-height:21px; height:42px; overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; font-weight:500; }
.main_section .boardTop a span					{ display:block; font-size:12px; color:#888; font-weight:400; line-height:14px; }
.main_section .boardTop a span em				{ width:1px; height:11px; margin:0 4px; line-height:14px; background:#eaeaea; display:inline-block; vertical-align:-1px; }
.main_section .boardTab							{ border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; height:44px; width:calc(100% - 6px); display:inline-block; padding:0 3px; }
.main_section .boardTab a						{ float:left; height:44px; line-height:44px; font-size:14px; color:#222; font-weight:500; margin:0 7px; padding:0 5px; }
.main_section .boardTab a.on					{ color:#1eb1c7; border-bottom:1px solid #1eb1c7; }

@media (max-width: 320px) {
    .main_section .boardTab a { padding-left: 3px; padding-right: 3px; }
}

.main_section .boardList						{ width:100%; }
.main_section .boardList li						{ border-top:1px solid #f0f0f0; padding:0 15px; }
.main_section .boardList li a					{ display:block; padding:15px 0; }
.main_section .boardList li a strong			{ font-size:16px; color:#222; display:block; font-weight:500; padding:0 0 10px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.main_section .boardList li a span				{ display:block; font-size:12px; color:#888; font-weight:400; line-height:14px; }
.main_section .boardList li a span em			{ width:1px; height:11px; margin:0 4px; line-height:14px; background:#eaeaea; display:inline-block; vertical-align:-1px; }

.main_section .boardList2						{ width:100%; }
.main_section .boardList2 ul					{ display:none; }
.main_section .boardList2 ul:first-child		{ display:block; }
.main_section .boardList2 li					{ height:120px; padding:0 15px; border-bottom:1px solid #eaeaea; }
.main_section .boardList2 li:last-child			{ border:0; }
.main_section .boardList2 li a					{ display:block; padding:15px 0; }
.main_section .boardList2 li a .tit				{ font-size:16px; color:#222; display:block; font-weight:500; padding:0 0 5px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.main_section .boardList2 li a .txt				{ display:block; font-size:13px; color:#555; line-height:20px; height:40px; overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; font-weight:400; }
.main_section .boardList2 li a .bot				{ font-size:12px; line-height:14px; color:#888; font-size:300; display:inline-block; padding:5px 0 0; }
.main_section .boardList2 li a .bot .name		{ font-size:12px; line-height:24px; display:inline-block; padding:0 15px 0 0; }
.main_section .boardList2 li a .bot .good		{ font-size:12px; line-height:14px; padding:5px 12px 5px 22px; display:inline-block; background:url(/chatbit_m/img/svg/like.svg) 0 4px no-repeat; background-size:15px; }
.main_section .boardList2 li a .bot .reple		{ font-size:12px; line-height:14px; padding:5px 0 5px 22px; display:inline-block; background:url(/chatbit_m/img/svg/re.svg) 0 6px no-repeat; background-size:16px; }


.coinPro										{ width:100%; overflow:hidden; padding:0 0 25px; }
.swiper-coinPro									{  }
.swiper-coinPro .swiper-wrapper					{ }
.swiper-coinPro .swiper-wrapper .coinproCon		{ width:246px;/*width:calc(100% - 59px);*/ margin:0 0 0 15px; display:block; border:1px solid #f0f0f0; position:relative; }
.swiper-coinPro .swiper-wrapper .coinproCon:last-child		{ margin-right:15px; }
.swiper-coinPro .swiper-wrapper .coinproCon>img				{ width:100%; height: 130px; object-fit: cover; }
.swiper-coinPro .swiper-wrapper .coinproCon .photo			{ position:absolute; top:94px; left:15px; overflow:hidden; border:1px solid #f2f2f2; border-radius:100%; }
.swiper-coinPro .swiper-wrapper .coinproCon .photo img		{ width:45px; height:45px; margin:-1px 0 0 -1px; }
.swiper-coinPro .swiper-wrapper .coinproCon .tit			{ font-size:16px; color:#222; display:block; font-weight:500; padding:0 0 5px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin:20px 15px 0 15px; }
.swiper-coinPro .swiper-wrapper .coinproCon .txt			{ display:block; font-size:13px; color:#555; line-height:20px; height:40px; overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; font-weight:400; margin:0 15px; }
.swiper-coinPro .swiper-wrapper .coinproCon .bot			{ font-size:12px; line-height:14px; color:#888; font-size:300; display:inline-block; padding:8px 15px 15px; }
.swiper-coinPro .swiper-wrapper .coinproCon .bot .name		{ font-size:12px; line-height:24px; display:inline-block; padding:0 15px 0 0; }
.swiper-coinPro .swiper-wrapper .coinproCon .bot .good		{ font-size:12px; line-height:14px; padding:5px 12px 5px 22px; display:inline-block; background:url(/chatbit_m/img/svg/like.svg) 0 4px no-repeat; background-size:15px; }
.swiper-coinPro .swiper-wrapper .coinproCon .bot .reple		{ font-size:12px; line-height:14px; padding:5px 0 5px 22px; display:inline-block; background:url(/chatbit_m/img/svg/re.svg) 0 6px no-repeat; background-size:16px; }


.coinCertify									{ width:100%; overflow:hidden; padding:0 0 20px; }
.coin-certify									{ width:100%; overflow:hidden; }
.coin-certify .swiper-wrapper .coinCertyCon		{ width:102px;/*width:calc(100% - 59px);*/ margin:0 0 0 15px; display:block; }
.coin-certify .swiper-wrapper .coinCertyCon:last-child		{ margin-right:15px; }
.coin-certify .swiper-wrapper .coinCertyCon .img			{ border:1px solid #f0f0f0; width:100px; height:100px; position:relative; display:block; margin:0 0 8px; }
.coin-certify .swiper-wrapper .coinCertyCon .img .certyImg  { width:100px; height:100px; }
.coin-certify .swiper-wrapper .coinCertyCon .img .certyIco	{ position:absolute; top:-1px; left:-1px; width:25px; height:25px; }
.coin-certify .swiper-wrapper .coinCertyCon .tit			{ font-size:13px; color:#222; display:block; font-weight:400; padding:0 0 5px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

.coinCertyCon .certyIco                         { display: block; box-sizing: border-box; padding-top: 8px; width: 25px; height: 25px; background-color: rgba(235, 28, 116, 0.9); text-align: center; }
.coinCertyCon .certyIco.minus                   { background-color: rgba(28, 125, 235, 0.9); }
.coinCertyCon .certyIco.minus img               { transform: rotate(90deg); }

.banner											{ padding:0 0 9px; background:#f2f2f2; position:relative; width:100%; overflow:hidden; }
.banner a										{ display:block; }
.banner img										{ width:100%; }
.banner .swiper-pagination-bullet				{ border:1px solid #fff; width:4px; height:4px; background:none; opacity:0.8; margin:0 2px !important; }
.banner .swiper-pagination-bullet-active		{ border:1px solid #fff; width:4px; height:4px; background:none; opacity:0.8; background:#fff; }


ul.chatList										{ width:100%; }
ul.chatList li									{ border-top:1px solid #f0f0f0; }
ul.chatList li a								{ display:block; padding:15px 60px 15px 80px; position:relative; min-height:45px; }
ul.chatList li a>img							{ position:absolute; top:15px; left:20px; width:43px; height:43px; border:1px solid #ccc; border-radius:100%; overflow:hidden; }
ul.chatList li a .tit							{ font-size:16px; color:#222; display:block; font-weight:500; padding:2px 0 8px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
ul.chatList li a .txt							{ padding:0 0 0 20px; background:url(/chatbit_m/img/svg/level4.svg) 0 50% no-repeat; background-size:15px auto; }
ul.chatList li a .txt.rank1						{ background:url(/chatbit_m/img/svg/level1.svg) 0 50% no-repeat; background-size:15px auto; }
ul.chatList li a .txt.rank2						{ background:url(/chatbit_m/img/svg/level2.svg) 0 50% no-repeat; background-size:15px auto; }
ul.chatList li a .txt.rank3						{ background:url(/chatbit_m/img/svg/level3.svg) 0 50% no-repeat; background-size:15px auto; }
ul.chatList li a .num							{ position:absolute; top:20px; right:15px; text-align:right; padding:0 0 0 15px; background:url(/chatbit_m/img/svg/user1.svg) 0 0 no-repeat; background-size:9px auto; font-size:13px; color:#222; font-weight:500; }