@charset "UTF-8";

.headerMini                { padding-top: 25px; text-align: center; }
.headerMini .logo img      { width: 143px; }

/* social login button */
.btnFb                     { position: relative; width: 100%; height: 44px; line-height: 44px; background-color: #3453a5; font-size: 13px; font-weight: 500; color: #fff; border-radius: 3px; text-align: center; }
.btnFb .iconFb             { position: absolute; top: 12px; left: 21px; }

.btnNaver                  { position: relative; width: 100%; height: 44px; line-height: 44px; background-color: #20bc01; font-size: 13px; font-weight: 500; color: #fff; border-radius: 3px; text-align: center; }
.btnNaver .iconNaver       { position: absolute; top: 15px; left: 17px; }

.btnKakao                  { position: relative; width: 100%; height: 44px; line-height: 44px; background-color: #fae100; font-size: 13px; font-weight: 500; color: #423630; border-radius: 3px; text-align: center; }
.btnKakao .iconKakao       { position: absolute; top: 12px; left: 15px; }

.loginPage,
.signupPage                { margin: 0 auto; padding: 0 45px 48px; max-width: 400px; font-size: 13px; }

.loginSearchId             { color: #888; line-height: 1.2; }
.loginPage .cCheckboxLabel { font-weight: 500; }
.loginRecommend            { margin-top: 20px; padding-top: 20px; border-top: 1px solid #f0f0f0; text-align: center; color: #888; }
.loginRecommend > a        { margin-left: 8px; }

.loginRemember             { margin-top: 20px; }
.loginRemember:after       { content: ''; display: block; clear: both; }
.loginRemember .cCheckbox  { float: left; }
.loginRemember .loginSearchId { float: right; }

.loginPage .loginList      { margin-top: 42px; }
.loginList > li:not(:first-child) {margin-top: 4px;}

/* 계정찾기 레이어 팝업 */
.searchIdNotice            { margin-top: 20px; color: #888; font-size: 13px; font-weight: 300; line-height: 1.3; }
.popupSearchId .inputField { margin-top: 30px; }

/* 휴면계정 해제 레이어 팝업 */
.sleepIdNotice             { margin-top: 20px; color: #888; font-size: 13px; line-height: 1.3; }
.sleepIdNotice > button    { line-height: 1.3; }
.popupSleepId .inputField  { margin-top: 30px; }

/* 회원가입 */
.signupRecommend           { margin-top: 25px; font-weight: 300; color: #888; text-align: center; line-height: 1.3; }
.signupRecommend .colorPrimary { font-weight: 400; }
.signupPage .loginList     { margin-top: 34px; }

/* 회원가입 양식작성 */
.signupFormPage                              { margin: 0 20px 81px; }
.signupFormPage .title                       { margin-top: 30px; font-size: 23px; font-weight: 500; }
.signupFormPage .desc                        { margin-top: 18px; margin-bottom: 7px; font-size: 14px; line-height: 1.3; }
.signupFormPage .agree                       { margin-top: 28px; font-size: 12px; color: #888; font-weight: 300; line-height: 1.3; }
.signupFormPage .agree > strong              { font-weight: 400; color: #222; }

.signupFormPage .inputField + .inputField    { margin-top: 3px; }

.ruleboxWrap                                 { border: 1px solid #f0f0f0; border-width: 0 1px; }
.ruleboxWrap .rulebox:first-child            { margin-top: 20px; }
.ruleboxWrap .rulebox:last-child             { border-bottom: 1px solid #f0f0f0; }

.ruleboxTitle                                { position: relative; padding: 15px; border-top: 1px solid #f0f0f0; font-size: 14px; font-weight: 600; }
.ruleboxTitleArrow                           { position: absolute; top: 4px; right: 0; padding: 15px; font-size: 0; }
.ruleboxTitleArrow::after                    { content: ''; display: inline-block; width: 12px; height: 6px; background: url(/chatbit_m/img/svg/arr_ver1.svg) no-repeat; }

.ruleboxContent                              { overflow-y: scroll; height: 0; background-color: #f8f8f8; transition: height 0.3s ease-in-out; line-height: 1.2; color: #555; font-size: 12px; }
.ruleboxContent .inner                       { padding: 15px; padding-top: 7px; border-top: 1px solid #f0f0f0; }
.ruleboxContent .ruleTitle                   { margin-top: 8px; margin-bottom: 8px; font-weight: 600;}
.ruleboxContent .inner li                    { margin-bottom: 8px; }
.ruleboxContent .inner > ul > li > ul,
.ruleboxContent p:not(.ruleTitle) + ul,
.ruleboxContent dt,
.ruleboxContent p:not(.ruleTitle) + p:not(.ruleTitle) { margin-top: 8px; }

.ruleboxTitle.active + .ruleboxContent       { height: 225px; }
.ruleboxTitle.active .ruleboxTitleArrow::after { transform: rotateX(180deg); }

.btnGroup                                    { margin-top: 20px; }

/* 회원가입 완료 & 이메일 인증 완료 */
.signupDonePage,
.emailDonePage                               { padding: 10px 20px 50px; }
.signupDonePage .title,
.emailDonePage .title                        { font-size: 30px; font-weight: 500; line-height: 1.1; }
.signupDonePage .desc,
.emailDonePage .desc                         { margin-top: 18px; margin-bottom: 130px; font-size: 14px; line-height: 1.3; }

/* 이메일 인증 */
.emailConfirmPage                            { padding: 30px 20px 50px; }
.emailConfirmPage .title                     { margin-bottom: 18px; font-size: 23px; font-weight: 500; }
.emailConfirmPage .descBold                  { margin-bottom: 15px; font-size: 16px; font-weight: 500px; }
.emailConfirmPage .desc                      { font-size: 14px; line-height: 1.3; }
.emailConfirmPage .inputField                { margin-top: 40px; }
.emailConfirmPage .notice                    { margin-top: 18px;  color: #888; line-height: 1.3; }
.emailConfirmPage .goMain                    { margin-top: 30px; }

/* 회원탈퇴 */
.pageWithdrawal                              { padding: 30px 20px 40px; }
.withdrawalTitle                             { margin-bottom: 30px; font-size: 16px; font-weight: 500; text-align: center; line-height: 1.5; }
.withdrawalRuleList                          { font-weight: 300; }
.withdrawalRuleList strong                   { font-weight: 500; }

.definitionList                              {overflow: hidden; display: table; margin: 23px 0; width: 100%; font-size: 12px; font-weight: 400; }
.definitionList dl                           { display: table-row; }
.definitionList dt,                
.definitionList dd                           { display: table-cell; height: 36px; vertical-align: middle; border-bottom: 1px solid #f0f0f0; }
.definitionList dl:first-child dt,
.definitionList dl:first-child dd            { border-top: 1px solid #f0f0f0; }
.definitionList dt                           { width: 28%; background-color: #f8f8f8; text-align: center; }
.definitionList dd                           { width: 72%; padding-left: 15px; color: #888;}

.withdrawalAgree                             { margin-top: 25px; padding-top: 25px; border-top: 1px solid #f0f0f0; text-align: center; font-weight: 500; }
.withdrawalButton                            { margin-top: 40px; }

/* 회원탈퇴 > 완료 */
.memberOut                                   { padding: 130px 20px 40px; text-align: center; background: url(/chatbit_m/img/svg/symbol.svg) no-repeat 50% 50px; background-size: 49px; }
.memberOutTitle                              { display: block; margin-bottom: 17px; font-size: 20px; font-weight: 500; }
.memberOutText                               { font-size: 12px; line-height: 1.5; font-weight: 300; }
.memberOutText strong                        { font-weight: 500; }
.memberOut .cBtn                             { margin-top: 70px; }