@charset "utf-8";

/* 프로필 정보 */
.myInfoVariety                            { position: relative; margin: 26px 20px 0; padding-left: 80px; min-height: 60px; }

.myInfoAvatar                             { position: absolute; top: 0; left: 0; }
.myInfoName                               { display: inline-block; margin-right: 6px; font-size: 16px; font-weight: 500; vertical-align: 2px; line-height: 1.3; }
.myInfoLevel                              { margin-left: 2px; font-size: 11px; font-weight: 300; color: #eb1c74; vertical-align: baseline; }

.btnSetting,
.btnReport                                { margin-top: -2px; padding: 5px; }
.btnReport .iconReport                    { width: 16px; height: 16px; }

.myInfoAction                             { margin-top: 8px; }
.btnToggleFollow                          { width: 160px; margin-right: 7px; }
.btnToggleFollow.small                    { font-size: 13px; }
.btnToggleFollow.following                { background-color: #fff; color: #1eb1c7; }

.letterWrap                               { display: inline-block; }
.btnLetter                                { position: relative; padding: 5px; }
.btnLetterLength                          { position:absolute; top:-2px; left:14px; box-sizing: border-box; display:inline-block; min-width: 15px; height:14px; line-height:14px; padding:0 5px; border-radius:8px; background:#eb1c74; color:#fff; font-size:11px; font-weight:300; }

.myInfoDesc                               { margin-top: 35px; padding: 0 20px; color: #555; line-height: 1.4; }

.myInfoMeta                               { display: flex; justify-content: space-around; align-items: center; margin-top: 27px; border-top: 1px solid #f0f0f0;}
.myInfoMeta .item                         { flex: 1; padding: 11px 0; color: #555; text-align: center; }
.myInfoMeta .value                        { display: block; margin-top: 5px; color: #222; font-weight: 500; }

/* 탭 */
.cTabs                                    { display: flex; justify-content: space-around; align-items: center; height: 38px; border-top: 1px solid #f0f0f0; }
.cTabItem                                 { flex: 1; padding: 11px 0; text-align: center; }
.cTabItem[aria-selected="true"] .iconPost { background-image: url(/chatbit_m/img/svg/profile_tab1_on.svg); }
.cTabItem[aria-selected="true"] .iconNotice { background-image: url(/chatbit_m/img/svg/profile_tab2_on.svg); }
.cTabItem[aria-selected="true"] .iconPoint { background-image: url(/chatbit_m/img/svg/profile_tab3_on.svg); }

/* 프로필 > 포인트 */
.myPointInfo                               { position: relative; padding: 25px 20px 20px; border-top: 1px solid #f0f0f0; background-color: #f8f8f8; }
.myPointTitle                              { margin-bottom: 25px; font-size: 16px; font-weight: 500; }

.myPointInfoTable                          { display: table; }
.myPointInfoItem                           { display: table-row; color: #1eb1c7; }
.myPointInfoItem + .myPointInfoItem        { color: #eb1c74; }
.myPointInfoItem + .myPointInfoItem .title,
.myPointInfoItem + .myPointInfoItem .value { padding-top: 13px; }
.myPointInfoItem .title                    { display: table-cell; width: 90px; vertical-align: middle; }
.myPointInfoItem .value                    { display: table-cell; font-size: 18px; font-weight: 600; vertical-align: middle; text-align: right; }

.btnExchange                               { position: absolute; top: 20px; right: 20px; }
.btnExchange .iconExchange                 { margin-right: 8px; vertical-align: -3px; }

/* 마이페이지 > 포인트 리스트 */
.myPointHistory > li                       { border-top: 1px solid #f1f1f1; }

.pointItem                                 { position: relative; display: flex; justify-content: space-between; align-items: center; padding: 20px; }
.pointItemState                            { flex: none; margin-right: 20px; width: 45px; height: 45px; background: url(/chatbit_m/img/svg/profile_p2.svg) no-repeat; line-height: 45px; text-align: center; color: #1eb1c7; }

.pointItemValue                            { flex: none; width: 60px; color: #1eb1c7; text-align: right; font-weight: 500; }
.pointItemValue > span                     { margin-left: 5px; }

.pointItemText                             { width: calc(100% - 125px); }
.pointItemText .mainText                   { display: block; font-size: 16px; font-weight: 500; }
.pointItemText .time                       { display: block; margin-top: 8px; font-size: 12px; color: #888; font-weight: 300; }

.pointMinus .pointItemState,
.pointMinus .pointItemValue                { color: #eb1c74; }
.pointMinus .pointItemState                { background-image: url(/chatbit_m/img/svg/profile_p1.svg); }

/* 프로필 > 알림 */
.myNoticeList > li                         { border-top: 1px solid #f0f0f0; }
.noticeItem                                { position: relative; padding: 20px; padding-left: 67px; font-size: 16px; font-weight: 500; line-height: 1.3; }
.noticeItemText                            { margin-bottom: 5px; }
.noticeItemImg                             { position: absolute; top: 20px; left: 20px; }
.noticeItemTime                            { font-size: 12px; color: #888; font-weight: 300; }

.adminNotice .cProfileImg                  { background-image: url(/chatbit_m/img/svg/symbol_gray.svg); } 

/* 프로필 > 쪽지 보내기 */
.popupSendLetter .cProfileName             { font-size: 14px; line-height: 35px; }
.popupSendLetter .inputField               { margin-top: 10px; }
.popupSendLetter textarea                  { transition: height 0.2s ease-in-out; }
.popupSendLetter textarea:focus            { height: 75px; }

/* 프로필 > 팔로우 팝업 */
.popupFollowList .cPopupTitle              { position: absolute; top: 15px; left: 20px; }
.followList > li                           { display: flex; align-items: center; }
.followList > li:not(:first-child)         { margin-top: 20px; }
.followList .cProfileImg                   { flex: none; }
.followList .text                          { display: block; padding-left: 15px; width: calc(100% - 135px); line-height: 1.23; }
.followList .name                          { font-size: 15px; font-weight: 500; }
.followList .desc                          { display: block; max-height: 28px; font-size: 13px; font-weight: 300; color: #888; }
.followList .btnToggleFollow               { min-width: 60px; width: auto; margin-right: 0; }
.followList .btnWrap                       { width: 90px; text-align: right; }

.popupFollowList.cPopup                    { padding-top: 78px; }

/* 프로필 > 프로필 편집 */
.editProfileImg                            { position: relative; display: block; width: 90px; margin: 0 auto; }
.editProfileUpload                         { overflow: hidden; position: absolute; bottom: 0; right: 0; width: 32px; height: 32px; background-color: #1eb1c7; border-radius: 50%; cursor: pointer; }
.editProfileUpload .figment                { width: 100%; height: 100%; }
.editProfileUpload .inputFile              { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }

.editProfileName                           { margin-top: 14px; font-size: 15px; font-weight: 500; text-align: center; }
.popupEditProfile .inputField              { position: relative; margin-top: 20px; }
.popupEditProfile textarea                 { transition: height 0.2s ease-in-out; }
.popupEditProfile textarea:focus           { height: 75px; }
.popupEditProfile .length                  { position: absolute; right: 0; display: none;  margin-top: 8px; font-size: 12px; color: #888; font-weight: 300; }
.popupEditProfile .inputField.active .length { display: block; }

.popupEditProfile .cPopupFooter-mini       { margin-top: 40px; }

/* 프로필 > 게시글 */
.mypost .haveImg .articleTitle             { height: 42px; }
.mypost .haveImg .articleInfo              { position: absolute; top: 80px; right: 15px; width: calc(100% - 141px); }

/* 알림설정 */
.setNoticeGroup                            { padding: 25px 20px 30px; }
.setNoticeGroup + .setNoticeGroup          { padding-top: 30px; padding-bottom: 40px; border-top: 1px solid #f0f0f0; }
.setNoticeEmail .confirm                   { margin-top: 20px; }
.setNoticeField                            { display: flex; justify-content: space-between; margin-top: 15px; }
.setNoticeAd                               { margin-top: 25px; }
.setNoticeFollow                           { margin-top: 0; }
.setNoticeField .name                      { font-size: 16px; font-weight: 500; line-height: 32px; }
.setNoticeText                             { margin-top: 15px; color: #888; font-size: 12px; line-height: 1.4; }

/* 북마크 */
.pageBookmark .articleTitle::before        { content: ''; display: inline-block; width: 15px; }
.article .btnBookmark                      { position: absolute; top: 15px; left: 9px; padding: 5px 8px; }                   
.article.haveImg .btnBookmark              { left: 119px; }         