@charset "utf-8"

// @import "base.css"

.iconClose 
  display: inline-block
  width: 17px
  height: 17px
  background: url(./img/svg/cl_b.svg) no-repeat

.iconTime 
  display: inline-block
  width: 12px
  height: 12px
  background: url(./img/time.png) no-repeat
  background-size: 12px

.iconPeople 
  display: inline-block
  width: 9px
  height: 11px
  background: url(./img/people.png) no-repeat
  background-size: 9px

.iconSend 
  display: inline-block
  width: 10px
  height: 12px
  background: url(./img/btn.png) no-repeat
  background-size: 10px

.chat-wrapper
  z-index: 100
  position: fixed
  top: 0
  display: none
  box-sizing: border-box
  margin: 0 auto
  padding:
    top: 77px
    bottom: 50px
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  line-height: 1.4

  &.writing
    padding-bottom: 88px      

.chat-header
  z-index: 2
  position: fixed
  top: 0
  left: 0
  box-sizing: border-box
  padding: 11px 20px 10px
  width: 100%
  height: 77px
  background-color: #fff
  border-bottom: 1px solid #f0f0f0

  &:after
    content: ''
    display: block
    clear: both

  &-exit
    z-index: 3
    position: absolute
    top: 15px
    right: 20px

  &-name
    margin-bottom: 11px
    padding-right: 28px
    font-size: 18px
    font-weight: 500
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

.chat-header

  &-label
    display: inline-block
    padding: 0 7px
    line-height: 19px
    background-color: #eb1c74
    color: #fff
    font-size: 12px
    border-radius: 19px

    .privateRoom &
      background-color: #ddd
      color: #888
      

  &-time
    float: right
    color: #888

  &-number
    float: right
    margin:
      left: 20px
    color: #888

  .iconTime
    margin:
      top: 4px
    
  .iconPeople
    margin:
      top: 4px

.chat-container
  overflow-y: auto
  height: 100%
  background-color: #f8f8f8

  &-inner
    padding: 20px


.chat-footer
  z-index: 2
  position: fixed
  bottom: 0
  box-sizing: border-box
  padding:
    top: 15px
    right: 85px
    bottom: 14px
    left: 20px
  width: 100%
  border-top: 1px solid #f0f0f0
  background-color: #fff

  &-editor
    width: 100%
    height: 20px
    border: 0
    font-size: 13px
    transition: height .2s ease-in-out

  &-btn
    position: absolute
    bottom: 8px
    right: 20px
    width: 32px
    height: 32px
    border: 1px solid #f0f0f0
    border-radius: 50%
    line-height: 30px

    .iconSend
      margin-top: 9px

/* 채팅 작성 중 */
.chat-footer

  &-editor:focus
    height: 58px

  &-editor:focus + &-btn
    background-color: #1eb1c7
    border-color: #1eb1c7

  &-editor:focus + &-btn .iconSend
    background-position-y: -22px 

.chat-msg-user
  display: block
  margin-bottom: 4px
  padding-top: 12px
  text-decoration: none

  &-avatar
    overflow: hidden
    display: inline-block
    margin-right: 8px
    width: 35px
    height: 35px
    border-radius: 50%
    background:
      image: url(./img/avatar.png)
      repeat: no-repeat
      size: contain
    vertical-align: middle

    img
      width: 100%
      height: 100%
      object-fit: cover
    img[src=""]
      display: none

  &-name
    vertical-align: middle
    font-weight: 400
    font-style: normal
    color: #222

.chat-msg-item
  position: relative
  display: inline-block
  margin-right: 55px
  padding: 7px 14px
  border-radius: 12px
  border-top-left-radius: 0
  background:
    color: #e7e7e7
  line-height: 1.4

  & + &
    margin-top: 8px

  &::after
    content: ''
    position: absolute
    left: 0
    top: -14px
    display: inline-block
    width: 15px
    height: 15px
    background:
      image: url(./img/tail.png)
      repeat: no-repeat
      size: 15px

  &-time
    position: absolute
    bottom: -2px
    right: -52px
    color: #888
    font-weight: 300
    font-size: 11px

  &-text
    text-decoration: inherit

  img
    width: 100%
    max-width: 100%

.chat-msg + .chat-msg
  margin-top: 8px

/* 내가 보낸 메시지 */  
.me
  text-align: right

  .chat-msg-item
    margin-right: 0
    margin-left: 55px
    border-radius: 16px
    border-top-right-radius: 0
    background-color: #98d9de

    &::after
      left: auto
      left: initial
      right:  0
      background-image: url(./img/tailBlue.png)

    &-time
      right: auto
      right: initial
      left: -52px

    &-text
      text-align: left
      line-height: 1.46

/* 미니버전 */
.chat-wrapper.mini
  padding-top: 42px

  .chat-header
    display: none

    &-exit
      top: 20px
      width: 45px
      height: 45px
      border-radius: 50%
      background-color: #fff
      box-shadow: 0 2px 11px 1px rgba(0, 0, 0, 0.3)

  .btnX
    width: 15px
    height: 15px

    &::before, &::after
      left: 0
      margin-top: 0
      width: 100%
      height: 1px
      background-color: #1eb1c7

  .chat-container
    border-top: 1px solid #e5e5e5

    &-inner
      padding-top: 37px
  