@charset "UTF-8";
.iconClose { display: inline-block; width: 17px; height: 17px; background: url(./img/svg/cl_b.svg) no-repeat; }

.iconTime { display: inline-block; width: 12px; height: 12px; background: url(./img/time.png) no-repeat; background-size: 12px; }

.iconPeople { display: inline-block; width: 9px; height: 11px; background: url(./img/people.png) no-repeat; background-size: 9px; }

.iconSend { display: inline-block; width: 10px; height: 12px; background: url(./img/btn.png) no-repeat; background-size: 10px; }

.chat-wrapper { z-index: 100; position: fixed; top: 0; display: none; box-sizing: border-box; margin: 0 auto; padding-top: 77px; padding-bottom: 50px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); line-height: 1.4; }
.chat-wrapper.writing { padding-bottom: 88px; }

.chat-header { z-index: 2; position: fixed; top: 0; left: 0; box-sizing: border-box; padding: 11px 20px 10px; width: 100%; height: 77px; background-color: #fff; border-bottom: 1px solid #f0f0f0; }
.chat-header:after { content: ""; display: block; clear: both; }
.chat-header-exit { z-index: 3; position: absolute; top: 15px; right: 20px; }
.chat-header-name { margin-bottom: 11px; padding-right: 28px; font-size: 18px; font-weight: 500; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.chat-header-label { display: inline-block; padding: 0 7px; line-height: 19px; background-color: #eb1c74; color: #fff; font-size: 12px; border-radius: 19px; }
.privateRoom .chat-header-label { background-color: #ddd; color: #888; }
.chat-header-time { float: right; color: #888; }
.chat-header-number { float: right; margin-left: 20px; color: #888; }
.chat-header .iconTime { margin-top: 4px; }
.chat-header .iconPeople { margin-top: 4px; }

.chat-container { overflow-y: auto; height: 100%; background-color: #f8f8f8; }
.chat-container-inner { padding: 20px; }

.chat-footer { z-index: 2; position: fixed; bottom: 0; box-sizing: border-box; padding-top: 15px; padding-right: 85px; padding-bottom: 14px; padding-left: 20px; width: 100%; border-top: 1px solid #f0f0f0; background-color: #fff; }
.chat-footer-editor { width: 100%; height: 20px; border: 0; font-size: 16px; transition: height 0.2s ease-in-out; }
.chat-footer-btn { position: absolute; bottom: 8px; right: 20px; width: 32px; height: 32px; border: 1px solid #f0f0f0; border-radius: 50%; line-height: 30px; }
.chat-footer-btn .iconSend { margin-top: 9px; }

/* 채팅 작성 중 */
.chat-footer-editor:focus { height: 58px; }
.chat-footer-editor:focus + .chat-footer-btn { background-color: #1eb1c7; border-color: #1eb1c7; }
.chat-footer-editor:focus + .chat-footer-btn .iconSend { background-position-y: -22px; }

.chat-msg-user { display: block; margin-bottom: 4px; padding-top: 12px; text-decoration: none; }
.chat-msg-user-avatar { overflow: hidden; display: inline-block; margin-right: 8px; width: 35px; height: 35px; border-radius: 50%; background-image: url(./img/avatar.png); background-repeat: no-repeat; background-size: contain; vertical-align: middle; }
.chat-msg-user-avatar img { width: 100%; height: 100%; object-fit: cover; }
.chat-msg-user-avatar img[src=""] { display: none; }
.chat-msg-user-name { vertical-align: middle; font-weight: 400; font-style: normal; color: #222; }

.chat-msg-item { position: relative; display: inline-block; margin-right: 55px; padding: 7px 14px; border-radius: 12px; border-top-left-radius: 0; background-color: #e7e7e7; line-height: 1.4; }
.chat-msg-item + .chat-msg-item { margin-top: 8px; }
.chat-msg-item::after { content: ""; position: absolute; left: 0; top: -14px; display: inline-block; width: 15px; height: 15px; background-image: url(./img/tail.png); background-repeat: no-repeat; background-size: 15px; }
.chat-msg-item-time { position: absolute; bottom: -2px; right: -52px; color: #888; font-weight: 300; font-size: 11px; }
.chat-msg-item-text { text-decoration: inherit; word-break: break-all; white-space: pre-wrap; font-size: 16px; }
.chat-msg-item img { width: 100%; max-width: 100%; }

.chat-msg + .chat-msg { margin-top: 8px; }

/* 내가 보낸 메시지 */
.me { text-align: right; }
.me .chat-msg-item { margin-right: 0; margin-left: 55px; border-radius: 16px; border-top-right-radius: 0; background-color: #98d9de; }
.me .chat-msg-item::after { left: auto; left: initial; right: 0; background-image: url(./img/tailBlue.png); }
.me .chat-msg-item-time { right: auto; right: initial; left: -52px; }
.me .chat-msg-item-text { text-align: left; line-height: 1.46; }

/* 미니버전 */
.chat-wrapper.mini { padding-top: 42px; }
.chat-wrapper.mini .chat-header { display: none; }
.chat-wrapper.mini .chat-header-exit { top: 20px; width: 45px; height: 45px; border-radius: 50%; background-color: #fff; box-shadow: 0 2px 11px 1px rgba(0, 0, 0, 0.3); }
.chat-wrapper.mini .btnX { width: 15px; height: 15px; }
.chat-wrapper.mini .btnX::before, .chat-wrapper.mini .btnX::after { left: 0; margin-top: 0; width: 100%; height: 1px; background-color: #1eb1c7; }
.chat-wrapper.mini .chat-container { border-top: 1px solid #e5e5e5; }
.chat-wrapper.mini .chat-container-inner { padding-top: 37px; }