@charset "utf-8";

.iconTrade                    { overflow: hidden; display: inline-block; width: 11px; height: 9px; background: url(./img/iconTrage.png) no-repeat; background-size: cover; }

.game-wrap                     { padding: 0 15px; background: #334152 url(./img/bgLight.png) no-repeat 50% 0; background-size: 100%; color: #fff; line-height: 1.4; }
@media (min-width: 450px) {
    .game-wrap { background-size: 450px;}
}

/* 제목 */
.game-header                   { box-sizing: border-box; margin: 0 auto; max-width: 320px; height: 113px; background: url(./img/bgStars.png) no-repeat 50% 40%; background-size: 293px; text-align: center; }
.game-header-small-heading     { padding-top: 20px; padding-bottom: 5px; }

/* 공지, 도움말, 그래프 */
.game-state                    { position: relative; padding-bottom: 1px; background-color: #1f252d; }
.game-state-notice             { box-sizing: border-box; padding: 6px 80px 0 12px; height: 32px; color: #a2acb7; font-size: 12px; line-height: 20px; }
.game-state-notice-label       { margin-right: 6px; font-weight: 600; }

.game-guide                    { position: absolute; top: 6px; right: 10px; }
.game-guide-button             { padding: 0 12px; height: 20px; border: 1px solid #69717a; color: #a2acb7; font-size: 12px; border-radius: 20px; font-weight: 500; }

.game-state-graph              { margin: 0 1px; height: 139px; }

/* 보유중인 CGP */
.game-action-box               { position: relative; margin-top: 12px; }
.game-action-have-wrap         { display: flex; justify-content: space-between; align-items: center; }
.game-action-have              { font-size: 12px; }
.game-action-have dt           { display: inline-block; margin-right: 5px; font-weight: 300; }
.game-action-have dd           { display: inline-block; font-weight: 600; }

/* CGP 교환 버튼 */
.game-exchange-button          { position: relative; padding: 0 12px; height: 30px;  font-size: 12px; color: #233142; font-weight: 800; }
.game-exchange-button-text     { display: block; height: 100%; background: url(./img/buttonExchangeCenter.png) repeat-x; background-size: 62px; line-height: 25px; white-space: nowrap; letter-spacing: -0.5px; }
.game-exchange-button::before  { position: absolute; top: 0; left: 0; content: ''; display: inline-block; width: 12px; height: 30px; background: url(./img/buttonExchangeLeft.png) no-repeat; background-size: 12px; }
.game-exchange-button::after   { position: absolute; top: 0; right: 0; content: ''; display: inline-block; width: 12px; height: 30px; background: url(./img/buttonExchangeRight.png) no-repeat; background-size: 12px; }

.game-exchange-button .iconTrade { margin-top: 8px; margin-left: 5px; vertical-align: top; }

/* 투자금액 입력 */
.game-action-invest             { display: flex; align-items: center; justify-content: space-between; margin-top: 8px; padding-left: 15px; padding-right: 10px; height: 40px; background-color: #233142; }
.game-action-invest dt          { color: #49525f; font-weight: 400; white-space: nowrap; }
.game-action-invest dd          { font-size: 20px; font-weight: 800; text-align: right; }
.game-action-invest-input       { margin-right: 7px; width: 60%; border: 0; background-color: transparent; color: #fff; font-size: 20px; font-weight: 800; text-align: right; line-height: 1.4; }

/* 투자금액 단축입력 버튼 */
.game-action-buttons            { display: flex; margin-top: 6px; border: 2px solid #233142; background: url(./img/buttonInvest.png) repeat-x; background-size: 1px; }
.game-action-button             { position: relative; flex: 1; padding-bottom: 5px; height: 30px; color: #233142; font-size: 14px; font-weight: 700; }
.game-action-buttons .game-action-button:not(:first-child)::before { content: ''; position: absolute; top: -1px; left: 0; display: inline-block; width: 9px; height: 32px; background: url(./img/buttonInvestDivider.png) no-repeat; background-size: 9px; vertical-align: middle; }

/* 투자성공 시 */
.game-action-sucess             { display: flex; align-items: center; justify-content: space-between; margin-top: 10px; color: #83dbe0; font-size: 14px; font-weight: 600; }

/* 투자하기 버튼 */
.game-invest-buttons            { position: relative; margin-top: 5px; height: 55px; }

.game-invest-up-button,
.game-invest-down-button        { overflow: hidden; position: absolute; top: 0; height: 55px; }
.game-invest-up-button          { left: 0; width: calc(50% + 6px); }
.game-invest-down-button        { top: 0; right: 0; width: calc(50% + 7px); }

.game-invest-up-button::before,
.game-invest-down-button::after { content: ''; float: left; display: block; width: 2px; height: 100%; background: url(./img/buttonInvestLine.png) no-repeat; background-size: 2px; }

.game-invest-up-button::after{ content: ''; float: left; display: block; width: 12px; height: 100%; background: url(./img/buttonInvestUpRight.png) no-repeat; background-size: 12px; }
.game-invest-down-button::before{ content: ''; float: left; display: block; width: 12px; height: 100%; background: url(./img/buttonInvestUpRight.png) no-repeat; background-size: 12px; }

.game-invest-up-button .inner{ float: left; display: block; box-sizing: border-box; width: calc(100% - 14px); padding-top: 17px; height: 100%; background: url(./img/buttonInvestUpCenter.png) repeat-x; background-size: 1px; }
.game-invest-down-button .inner { float: left; display: block; box-sizing: border-box; width: calc(100% - 14px); padding-top: 17px; height: 100%; background: url(./img/buttonInvestUpCenter.png) repeat-x; background-size: 1px; }

.game-invest-down-button .inner { width: calc(100% - 15px); }
.game-invest-down-button::before{ width: 13px; background-image: url(./img/buttonInvestDownLeft.png); background-size: 13px; }
.game-invest-down-button .inner { background-image: url(./img/buttonInvestDownCenter.png); }

/* 투자 후 레이어 */
.game-invest-wating             { position: absolute; top:0; left: 0; right: 0; bottom: 0; display: none; padding-top: 3px; background-color: rgba(51, 65, 82, 0.96); text-align: center; }
.game-invest-wating-text1       { color: #ff5f9f; font-size: 19px; font-weight: 600; font-style: italic; }
.game-invest-wating-text2       { font-size: 12px; font-weight: 300; }
.game-invest-wating .second     { font-weight: 600; }
.game-invest-wating.down .game-invest-wating-text1 { color: #2cc5dc; }

/* 나의 투자 이야기 */
.game-history                   { margin-top: 21px; }
.game-history-title             { box-sizing: border-box; padding-right: 109px; padding-top: 30px; height: 68px; background: url(./img/man.png) no-repeat 100% 0; background-size: 109px; text-align: center; }

.game-history-table             { text-align: center; }
.game-history-table th          { padding-top: 7px; padding-bottom: 7px; border: 1px solid #99a0a9; border-width: 2px 0 1px; color: #858b93; font-weight: 500; font-size: 12px; }
.game-history-table td          { padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid #596572; vertical-align: middle; }

.game-history-up                { color: #ff5f9f; }
.game-history-up::before        { content: '▲'; margin-right: 2px; }
.game-history-down              { color: #2cc5dc; }
.game-history-down::before      { content: '▼'; margin-right: 2px; }
.game-history-money             { font-size: 12px; font-weight: 300; }

.game-history .articleMore      { border-top: 0; background-color: transparent; color: #d9d9d9; }

/* 알아두세요 */
.game-notice                    { margin: 13px -15px 0; padding: 25px 20px; background-color: #2d3540; color: #bebfc2; }
.game-notice-title              { font-size: 19px; font-weight: 600; }
.game-notice-list               { margin-top: 7px; color: #acaeb1; font-size: 12px; line-height: 1.8; font-weight: 300; }
.game-notice-list li            { position: relative; padding-left: 11px; }
.game-notice-list li::before    { content: ''; position: absolute; top: 9px; left: 0; display: block; width: 3px; height: 3px; border-radius: 100%; background-color: #acaeb1; }

/* 도움말 팝업 */
.popupGameGuide                 { display: none; }
.game-guide-list                { color: #555; line-height: 1.3; font-size: 12px; }
.game-guide-list > li           { position: relative; margin-top: 10px; padding-left: 10px; }
.game-guide-list > li:before    { content: ''; position: absolute; top: 7px; left: 0; display: inline-block; width: 3px; height: 3px; border-radius: 50%; background-color: #555; }
.game-guide-list ol             { margin-left: 15px; margin-top: 6px; }
.game-guide-list ol li          { list-style: decimal; }

/* 예측 성공 팝업 */
.game-result-popup              { z-index: 100; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none; box-sizing: border-box; width: 243px; background-repeat: no-repeat; background-size: 243px; text-align: center; line-height: 1.4; color: #fff; }

.game-result-good               { padding: 69px 12px 13px 6px; height: 307px; background-image: url(./img/bgResultGood.png); }
.game-result-bad                { padding: 65px 12px 13px 12px; height: 303px; background-image: url(./img/bgResultBad.png); }

.game-result-title              { height: 90px; }
.game-result-start              { margin-top: 2px; font-size: 12px; color: #8ca0aa;  }
.game-result-start-value        { font-size: 12px; color: #fff; }
.game-result-end                { margin-top: 8px; font-size: 12px; color: #8ca0aa; }
.game-result-end-value          { font-size: 12px; color: #fff; }

.game-result-up-text            { color: #e8abc3; }
.game-result-up-text::before    { content: '▲'; }
.game-result-down-text          { color: #79c5c9; }
.game-result-down-text::before  { content: '▼'; }

.game-result-close              { margin-top: 17px; width: 43px; height: 22px; border-radius: 22px; background-color: #fff; color: #334152; font-size: 12px; }
.game-result-auto-close         { margin-top: 32px; font-size: 12px; font-weight: 300; }
.game-result-auto-close .jsCloseTimer { font-weight: 600; }